<div class="l-branding" itemtscope itemtype="http://schema.org/Organization">
  {% block logo %}
    {% include '@components/site-logo/site-logo.twig' with {
      'url': '#',
      'site_logo': '/img/logo.png'
    } %}
  {% endblock %}
  {% block name %}
    {% include '@components/site-name/site-name.twig' with {
      'url': '#',
      'site_name': 'American Graphics Institute'
    } %}
  {% endblock %}
</div>
