// @file
// Styles for Tabs.

@use '../../01-core/mixins'as *;
@use '../../01-core/functions'as *;

.tabs {
  position: relative;
  width: auto;
}

.tabs__items {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.tabs__item {
  background-color: color(brand, blue-300);
  border: 0;
  border-radius: 0;
  color: color(shades, light);
  cursor: pointer;
  display: inline-block;
  font-size: font-size(4);
  margin: 0;
  min-width: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: normal;

  &:visited {
    color: color(shades, light);
  }

  &:hover,
  &:focus {
    background-color: color(brand, blue-400);
    color: color(shades, light);
  }

  &:active {
    background-color: color(brand, blue-400);
    color: color(shades, light);
  }

  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
  }

  &:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 4px;
  }
}

.tabs__link {
  @include link(color(shades, light));
  display: block;
  padding: units(1.5) units(2);
  text-decoration: none;

  &:visited {
    color: color(shades, light);
  }

  &:hover,
  &:focus {
    color: color(shades, light);
  }

  &:active {
    color: color(shades, light);
  }
}
