// @file
// Heading styles.

@use '../../01-core/functions' as *;

%hN {
  color: inherit;
  font-weight: font-weight(medium);
  hyphens: none;
  line-height: line-height(base);
  margin: 0 0 units(1);
  text-rendering: optimizeLegibility;

  @media print {
    orphans: 3;
    page-break-after: avoid;
    widows: 3;

    &::after {
      display: inline-block;
    }
  }

  // Add top margin when headers are preceded by other elements (p, ul, etc.)
  * + & {
    margin-top: units(0.5);
  }
}

h1,
%h1 {
  @extend %hN;
  color: color(text, dark);
  font-family: font-family(heading);
  font-size: font-size(13);
  line-height: line-height(tight);

  a {
    color: inherit;
    font-weight: inherit;
  }
}

h2,
%h2 {
  @extend %hN;
  color: color(text, dark);
  font-family: font-family(heading);
  font-size: font-size(12);
  line-height: line-height(tight);

  a {
    color: inherit;
    font-weight: inherit;
  }
}

h3,
%h3 {
  @extend %hN;
  color: color(text, dark);
  font-family: font-family(heading);
  font-size: font-size(10);
  line-height: line-height(tight);

  a {
    color: inherit;
    font-weight: inherit;
  }
}

h4,
%h4 {
  @extend %hN;
  color: color(text, dark);
  font-family: font-family(heading);
  font-size: font-size(10);
  line-height: line-height(tight);

  a {
    color: inherit;
    font-weight: inherit;
  }
}

h5,
%h5 {
  @extend %hN;
  color: color(text, dark);
  font-family: font-family(heading);
  font-size: font-size(10);
  line-height: line-height(tight);

  a {
    color: inherit;
    font-weight: inherit;
  }
}

h6,
%h6 {
  @extend %hN;
  color: color(text, dark);
  font-family: font-family(heading);
  font-size: font-size(8);
  line-height: line-height(tight);

  a {
    color: inherit;
    font-weight: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // Remove top margin for adjacent subheadings.
  & + & {
    margin-top: 0;
  }
}
