// @file
// List item styles.

@use '../../01-core/functions' as *;

li {
  margin-bottom: units(1);

  &::marker {
    color: color(brand, blue-200);
    font-size: font-size(10);
    font-weight: font-weight(bold);
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media print {
    page-break-inside: avoid;
  }
}
