// @file
// Unordered list styles.

@use '../../01-core/functions' as *;

ul {
  font-size: font-size(8);
  list-style-type: square;
  margin: 0 0 units(2);
  padding: 0 0 0 units(3);

  ol,
  ul {
    margin-top: units(1);
  }
}
