{% extends '@layouts/page/page.twig' %}
  {% block alert %}
    {% include '@components/alert/alert.twig' with {
      'text': alert_text
    } %}
  {% endblock %}

  {% block header %}
    {% include '@layouts/header/header.twig' %}
  {% endblock %}

  {% block main %}
    {{ page.preface }}
    {{ page.content }}
    {{ page.postscript }}
  {% endblock %}

  {% block footer %}
    {{ page.footer }}
  {% endblock %}
