{% set breadcrumb_id = 'breadcrumb-label-' ~ random(1, 20) %}

<nav aria-labelledby="{{ breadcrumb_id }}" class="breadcrumb {{ modifier }}" role="navigation">
  <h2 class="breadcrumb__title visually-hidden" id="{{ breadcrumb_id }}">{{ heading|default('You are here') }}</h2>
  <ol class="breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
    {% for item in breadcrumb %}
      <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        {% if item.url %}
          <a class="breadcrumb__link" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ item.url }}"><span itemprop="name">{{ item.text }}</span></a>
        {% else %}
          <span aria-current="page" itemprop="name">{{ item.text }}</span>
        {% endif %}
          <meta itemprop="position" content="{{ loop.index }}" />
      </li>
    {% endfor %}
  </ol>
</nav>
