// @file
// Styles for the Breadcrumb.

@use '../../variables' as *;
@use '../../01-core/functions' as *;
@use '../../01-core/mixins' as *;

.breadcrumb {
  padding: units(1.5) 0;
}

.breadcrumb__list {
  @include list-clean;
  display: flex;
  margin-bottom: 0;
}

.breadcrumb__item {
  margin-right: units(1);

  &::after {
    color: color(shades, dark);
    content: '/';
    margin-left: units(1);
  }

  &:last-child::after {
    content: '';
    margin-left: 0;
  }
}
