<section class="hero">
  <div class="l-constrain">
    <div class="hero__content">
      <h2 class="hero__title">Adobe classes, Photoshop classes, UX classes and InDesign courses.</h2>
    </div>
  </div>
</section>
