{% embed '@layouts/sidebar/sidebar.twig' with {
  'modifier': category_location_modifier,
  'constrain': category_location_constrain,
  'header': category_location_header,
  'aside': category_location_aside
} %}

  {% block aside %}

  {% endblock %}

  {% block main %}
    {% include '@components/page-title/page-title.twig' with {
      'page_title': category_location_title
    } %}

    {% include '@components/category-location-name/category-location-name.twig' with {
      'name': category_location_name
    } %}

    {{ category_location_content }}
  {% endblock %}

{% endembed %}
