{% embed '@layouts/sidebar/sidebar.twig' with {
  'modifier': course_modifier,
  'constrain': course_constrain,
  'header': course_header,
  'aside': course_aside
} %}

  {% block aside %}

  {% endblock %}

  {% block main %}
    {% include '@components/page-title/page-title.twig' with {
      'page_title': course_title
    } %}

    {% include '@components/course-name/course-name.twig' with {
      'icon': course_icon,
      'name': course_name
    } %}

    {% include '@layouts/section/section.twig' with {
      'section_content': course_description
    } %}

    {% include '@layouts/section/section.twig' with {
      'section_content': course_topics
    } %}

    {% include '@layouts/section/section.twig' with {
      'section_content': course_prerequisites
    } %}

    {% include '@layouts/section/section.twig' with {
      'section_content': course_materials
    } %}

    {% include '@layouts/section/section.twig' with {
      'section_content': course_programs
    } %}

    {% include '@layouts/section/section.twig' with {
      'section_content': course_delivery_methods
    } %}
  {% endblock %}

{% endembed %}
