{% embed '@layouts/sidebar/sidebar.twig' with {
  'modifier': subject_modifier,
  'constrain': subject_constrain,
  'header': subject_header,
  'aside': subject_aside
} %}

  {% block aside %}

  {% endblock %}

  {% block main %}
    {% include '@components/page-title/page-title.twig' with {
      'page_title': subject_title
    } %}

    {% include '@components/subject-name/subject-name.twig' with {
      'name': subject_name
    } %}

    {{ subject_content }}
  {% endblock %}

{% endembed %}
