{% set form_attributes = attributes %}

{% embed '@layouts/section/section.twig' with {
  'attributes': '',
  'constrain': 'l-constrain',
  'section_title': false
} %}

  {% block content %}
    <form{{ form_attributes }}>
      {{ children }}
    </form>
  {% endblock %}

{% endembed %}
