{% set add_classes = [
  'form-item',
  'form-item--' ~ type|clean_class,
  'form-item--id-' ~ name|clean_class,
  'js-form-item',
  'js-form-type-' ~ type|clean_class,
  'js-form-item-' ~ name|clean_class,
  title_display not in ['after', 'before'] ? 'has-no-label',
  title_display not in ['invisible'] and title_display in ['after'] ? 'has-visible-label-after',
  disabled == 'disabled' ? 'is-disabled',
  errors ? 'has-error'
] %}

{% set add_description_classes = [
  'form-item__description',
  description_display == 'invisible' ? 'visually-hidden',
] %}

<div{{ attributes.addClass(add_classes) }}>
  {% if label_display in ['before', 'invisible'] %}
    {{ label }}
  {% endif %}
  {% if prefix is not empty %}
    <span class="form-item__prefix">{{ prefix }}</span>
  {% endif %}
  {% if description_display == 'before' and description.content %}
    <div{{ description.attributes.addClass(add_description_classes) }}>
      {{ description.content }}
    </div>
  {% endif %}
  {{ children }}
  {% if suffix is not empty %}
    <span class="form-item__suffix">{{ suffix }}</span>
  {% endif %}
  {% if label_display == 'after' %}
    {{ label }}
  {% endif %}
  {% if errors %}
    <div class="form-item__error-message">
      {{ errors }}
    </div>
  {% endif %}
  {% if description_display in ['after', 'invisible'] and description.content %}
    <div{{ description.attributes.addClass(add_description_classes) }}>
      {{ description.content }}
    </div>
  {% endif %}
</div>
