{% set removeClasses = [
  'form-' ~ attributes.type|clean_class,
  'required'
] %}

{% set addClasses = [
  attributes.dropbutton ? 'dropbutton__button',
  attributes.type != 'submit' ? 'form-item__' ~ attributes.type|clean_class,
  attributes.required ? 'is-required',
] %}

<input{{ attributes.removeClass(removeClasses).addClass(addClasses) }}>{{ children }}
