// @file
// Styles for Header layout.

@use '../../variables' as *;
@use '../../01-core/functions/' as *;
@use '../../01-core/mixins' as *;

.l-header {
  position: relative;
}

.l-header__top {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: units(2.5);
}

.l-header__nav {
  background: color(brand, blue-300);
}
