<header class="l-header {{ modifier }}" role="banner">
  <div class="l-constrain">
    <div class="l-header__top">
      {% block top %}
        {% include '@layouts/branding/branding.twig' %}
        {% include '@components/menu/menu.twig' with {
          'menu_name': 'secondary',
            'items': [
              { 'title': 'About' },
              { 'title': 'Contact' },
              { 'title': 'Locations' },
              { 'title': 'Books' },
              { 'title': 'All classes' },
              { 'title': 'UX classes' },
              { 'title': 'Cart' },
              { 'title': 'Login' },
              { 'title': 'Search' }
            ]
        } %}
      {% endblock %}
    </div>

    <div class="l-header__nav">
      {% include '@components/hamburger/hamburger.twig' %}
      {% block nav %}
        {% embed '@layouts/nav/nav.twig' with {
          'label': 'Main Menu'
        } %}
          {% block content %}
            {% include '@components/menu/menu.twig' with {
              'menu_name': 'main',
              'items': main_menu
            } %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    </div>
  </div>
</header>
