// @file
// Utility classes for Typography

@use '../functions' as *;

.is-heading {
  display: block;
  font-size: font-size(8) !important;
  font-weight: font-weight(bold);
  margin-bottom: units(2.5);
}

.is-subheading {
  display: block;
  font-size: font-size(7);
  font-weight: font-weight(bold);
  margin-top: units(2.5);
}
