// Breadcrumbs.
#breadcrumbs {
  h2 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  .breadcrumb {
    background: transparent;
  }
}

.page-course-reviews {
  #block-agi-review-pages-agi-review-pages-course div {
    font-size: 20px !important;
  }
}
