.bd-callout {
  &.bd-callout-primary {
    @include callout(theme-color("primary"));
  }
  &.bd-callout-secondary {
    @include callout(theme-color("secondary"));
  }
  &.bd-callout-success {
    @include callout(theme-color("success"));
  }
  &.bd-callout-info {
    @include callout(theme-color("info"));
  }
  &.bd-callout-warning {
    @include callout(theme-color("warning"));
  }
}
