// Footer styles.
#pageFooter {
  clear: both;
  border-top:solid 3px $blue;
  margin-top:30px;
  text-align:center;

  .feather {
    width: 15px;
    height: 15px;
    display: inline-block;
  }

  .phone {
    width: 100%;
    background: #f5f5f5;
    padding: 1.25rem 2rem;
    color: #212529;
    text-align: left;
    margin: 0 0 5px 0;
    .feather-icon {
      display: none;
    }
  }

  .contact-us,
  .all-training-locations {
    display: none;
  }


}

@media (min-width: 768px) {
  #pageFooter {
    padding: 30px 0;
    .contact-us,
    .all-training-locations {
      display: block;
    }
    .phone {
      background: none;
      padding: 0;
      text-align: center;
      .feather-icon {
        display: inline;
      }
    }
  }
}
