// Form Styling.


// Request Info Form.

.request-info {
  @include requestInfoForm();

  .webform-component-radios {
    margin: 0;
    .form-radios .form-item {
      margin: 0;
    }
  }

  .form-row {
    .form-group {
      margin: 0;
    }
  }

  .form-actions {
    margin: 0;
  }

  // For the few instances where the form is in panels.
  &.panel-pane {
    padding: 1.25rem;
    background: #000;
    color: #fff;
    form {
      input {
        width: 100%;
      }
      .webform-component-radios {
        label {
          display: none;
        }
        .form-radios {
          .form-type-radio {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            input {
              width: 1rem;
            }
            label {
              display: inline;
              margin: 0;
            }
          }

        }
      }
    }
  }
}

// Certification Application.
.page-node-76576 {
  .form-item {
    margin: 1rem 0;
  }
}

// Exposed Filters.
.view-secondary-location-upcoming-events,
.view-pri,
.view-upcoming-events {
  .views-exposed-form {
    margin-bottom: 1rem;
    .bef-select-as-links {
      .form-item {
        display: flex;
        margin-right: 0.5rem;
        a {
          @include button-outline-variant(theme-color("primary"));
          @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height, $btn-border-radius);
        }
      }
    }
    .views-submit-button {
      display: none;
    }
  }
}
