#pageHeader {

  #branding {
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    a {
      margin-right: 10px;
      display: block;
      img {
        width: 52px;
        height: auto;
      }
    }

    h5 {
      font-family: myriad-pro, arial, sans-serif;
      font-style: normal;
      margin-top: 12px;
      float: left;
      font-size: 1.5rem;
      font-weight: normal;
      a {
        color: black;
      }
    }
  }

  #mainNav {
    background: color("blue");
    padding: 0;
    .navbar-toggler {
      align-self: flex-start;
      border-color: rgba(255,255,255,1);
      padding: .1rem .4rem;
      margin: 0.5rem;
      .navbar-toggler-icon {
        font-size: 0.75rem;
        width: 2rem;
        background: transparent;
        color: white;
      }
    }

    .navbar-collapse {
      width: 100%;
      .navbar-nav {
        width: 100%;
        align-items: stretch !important;
        li {
          width: 100%;
          display: flex;
          align-items: stretch;
          h6 {
            margin: 0;
            display: flex;
            align-items: stretch;
            width: 100%;
            font-weight: 400;

            a {
              color: white;
              font-size: 1rem;
              padding: 1rem 0.25rem;
              margin: 0;
              display: flex;
              justify-content: center;
              text-align: left;
              width: 100%;
              &:hover,
              &.active {
                background: darken(color("blue"), 5);
              }
            }
          }
          &.search-trigger {
            max-width: 2rem;
            padding: 0 0.5rem;
            display: none;
            a {
              .feather-icon {
                color: white;
              }
            }
          }
        }
      }
    }

    .mobile-search-toggler {
      border: none;
      background: none;
      outline: none;
      .feather-icon {
        color: #FFF;
      }
    }

    .mobile-search-wrapper {
      padding: 0.25rem 0.5rem;
      display: flex;
      justify-content: flex-end;
      max-width: 400px;
      margin-left: auto;
      div {
        //width: 100%;
      }
      .form-text {
        margin-top: 0;
        min-width: 200px;
      }
      .form-actions {
        button.form-submit {
          background: transparent;
          border-color: transparent;
          padding: 0 0 0 0.5rem;
          .feather-icon {
            color: white;
          }
        }
      }
    }
  }

  .navbar-collapse.collapse.show {
    .search-wrapper {
      display: block !important;
    }
  }
}

#breadcrumbs-search {
  margin-bottom: 1rem;
  padding: 0.5rem;

  #breadcrumbs {
    align-self: flex-start;
    margin-bottom: 1rem;
    padding: 0 1rem 0 0;
    .breadcrumb {
      background: transparent;
      font-size: 1rem;
      margin: 0;
      padding: 0;
    }
  }

  .search-wrapper {
    #siteSearchBar {
      width: 100%;
      .content {
        margin:0;
      }
      .container-inline {
        display: flex;
        flex-direction: row;
        .form-type-textfield {
          flex: 1;
          margin:0;
          input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin: 0;
            min-width: 200px;
            font-weight: 300;

          }
        }
        .form-actions .btn {
          background: theme-color('light');
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          line-height: 1.5rem;
        }
      }
    }
  }
}

.front #breadcrumbs-search {
  margin: 0;
  padding: 0;
  #breadcrumbs {
    margin: 0;
  }
  .search-wrapper {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }
}
@include media-breakpoint-up(md) {
  .front #breadcrumbs-search {
    position: absolute;
    z-index:2;
    width: 100%;
    #breadcrumbs {
      margin: 0;
    }
    .search-wrapper {
      margin: 1rem;
    }
  }
}


#secondaryNav {
  position: relative;
  .element-invisible {
    width: 0;
  }
  ul {
    li {
      transition: all 500ms ease-out;
      margin:0 0 5px 0;
      background: color("gray-light");
      z-index: 2;
      position: relative;
      display: block;
      width: 100%;
      @include media-breakpoint-up(md) {
        width: auto;
      }

      a {
        display: block;
        width: 100%;
        background: color("gray-light");
        padding: 1.25rem 2rem;
        color: $body-color;
        font-weight: 300;
      }

      &.cart-nav {
        @include media-breakpoint-up(md) {
          padding: 1.25rem 2rem;
          a {
            padding: 0;
          }
        }
      }

      &.search-item {
        z-index: 1;
        display: none;
        @include media-breakpoint-up(md) {
          display: inline;
        }
      }

      .search-wrapper {
        display: inline-block;
        vertical-align: middle;
        #siteSearchBar {
          .contextual-links-wrapper {
            display: none;
          }
          .container-inline {
            display: flex;
          }
          .form-item.form-type-textfield {
            transition: all 200ms ease-out;
            margin-right: 0.25rem;
            width: 170px;
            display: block;
            input.form-text {
              transition: all 200ms ease-out;
              height: auto;
              margin-top: 0;
              padding: 0.15rem 0.5rem;
              font-size: 0.8rem;
              position: absolute;
              top: -5px;
              right: 35px;
              width: 170px;
              font-weight: 300;
              @include media-breakpoint-up(lg) {
                top: 0;
                right: 0;
                position: relative;
              }
            }
          }
          .form-actions {
            z-index: 2;
            button.btn {
              padding: 0;
              background: transparent;
              border: none;
              font-size: 0.7rem;
              box-shadow: none;
              &:focus {
                outline:0;
              }
              .feather-icon {
                --svg-icon-size: 1rem;
              }
            }
          }
        }
      }
    }
  }

  &.search-active {
    ul {
      li {
        display: none;
        &.cart-nav {
          display: none !important;
        }

        @include media-breakpoint-up(lg) {
          display: inline-block;
          &.cart-nav {
            display: inline-block !important;
          }
        }

        &.search-item {
          display: inline-block !important;
          z-index: 3;
          .search-wrapper {
            #siteSearchBar {
              .form-item.form-type-textfield {
                opacity: 1;
                width: 170px;
                display: block;
                input.form-text {

                  top: -5px;
                  right: 35px;
                  width: 170px;
                  @include media-breakpoint-up(lg) {
                    top: 0;
                    right: 0;
                    position: relative;
                  }
                }
              }
            }
          }
        }
      }
    }

  }
}

@include media-breakpoint-up(sm) {
  #pageHeader {

    #branding {
      margin-bottom: 1rem;
      h5 {
        font-size: $font-size-md;
      }
    }
    #mainNav {
      .navbar-collapse {
        flex-wrap: wrap;
        .search-wrapper {
          width: 100%;
          #siteSearchBar {
            .container-inline {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  #pageHeader {

    #branding {
      margin-bottom: 2rem;
      h5 {
        font-size: $font-size-md;
      }
    }
    #mainNav {
      padding: 0;
      .navbar-collapse .navbar-nav li.search-trigger {
        display: flex;
      }
    }
  }

  #breadcrumbs-search {
    margin-bottom: 0;
    padding: 0.5rem 1rem;
    #breadcrumbs {
      margin: 0;
    }
  }
}


@include media-breakpoint-up(lg) {
  #pageHeader {
    #branding {
      margin-bottom: 1rem;
      h5 {
        font-size: $font-size-lg;
      }
    }
  }
  #secondaryNav {
    text-align: right;
    position: absolute;
    top: 2rem;
    right: 0;
    padding: 0 1rem;
    ul {
      li {
        padding-right: 0.5rem;
        margin-right: 0.5rem;
        border-right: 1px solid color("gray");
        display: inline;
        border-right: 1px solid color("gray");
        background: transparent;
        a {
          color: #333;
          font-size: $font-size-xs;
          display: inline;
          width: auto;
          padding: 0;
          background: transparent;
          &:hover {
            color: color("blue");
          }
        }
        &.last-item {
          border-right: none;
          padding-right: 0;
          margin-right: 0;
        }

        &.cart-nav {
          display: inline !important;
          background: transparent;
          padding: 0;
          .badge {
            margin: 0 5px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  #secondaryNav {
    top: 1rem;
  }
}





.path-user-login {
  #block-system-main {
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      form {
        max-width: 600px;
        padding: 1rem 2rem;
        border: 1px solid $gray-300;
      }
    }
  }
}
