// Hero.
.hero {
  position: relative;
  margin: 0 -15px;
  background: black;
  overflow: hidden;
  .hero-content {
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: 0.5rem;
    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.5rem;
    }
  }
  .hero-image-bg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.5;
  }
  .hero-image {
    position: relative;
    opacity: 0.5;
    z-index: 1;
    img {
      width: 200%;
    }
  }
}

.front {
  .hero-image-bg {
    background-image: url("/sites/all/themes/agi/assets/images/american-graphics-institute-classroom.jpg");
    min-height: 340px;
  }
}

@include media-breakpoint-up(md) {
  .hero {
    .hero-content {
      left: 0;
      bottom: 0;
      width: 90%;
      z-index: 2;
      padding: 1rem;
      h1 {
        font-size: $h3-font-size
      }
    }
    .hero-image {
      img {
        width: auto;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .hero {
    .hero-content {
      h1 {
        font-size: $h1-font-size
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .hero {
    .hero-content {
      left: auto;
      right: 0;
      bottom: 30px;
      width: 64%;
      padding: 1rem;
      z-index: 2;
    }
  }
}
