.region-navigation {
  width: 100%;
}

.block-menu {
  .content {
    > .navbar-nav {
      width: auto;
      align-items: normal;
      justify-content: space-between;
      flex-wrap: inherit;

      > li {
        flex-direction: column;

        @include media-breakpoint-up(lg) {
          flex-direction: row;
        }

        &.show {
          > a {
            background: $blue-dark;
          }
        }

        > a {
          padding: 20px 8px;
          color: white;
          text-decoration: none;
          display: flex;
          text-align: center;
          white-space: normal;
          width: 100%;
          align-items: center;
          justify-content: center;

          &.dropdown-toggle:after {
            height: auto;
            content: none;
          }

          &:hover {
            background: $blue-dark;
          }

        }

        .dropdown-menu {
          width: 100%;
          background: $cian;
          border: 0px solid;
          border-radius: 0px;

          &.show {
            display: block;
            width: 100%;
            border-radius: 0px;
            margin: 0px;
            border-top: 1px solid $cian;
            z-index: 100;

            @include media-breakpoint-up(lg) {
              display: flex;
              padding: 60px 20px 20px 20px ;
            }
          }

          > li  {
            display: block !important;

            @include media-breakpoint-up(lg) {
              width: 20% !important;
            }

            &.group-no-title {
              margin-top: 0.875rem;
            }

            &.floating-link {
              margin: 10px 0px;

              .floating-block {
                padding: 0px;
              }

              @include media-breakpoint-up(lg) {
                position: absolute;
                right: 0px;
                top: 20px;
                margin: initial;
                padding: initial;
              }

              li {
                @include media-breakpoint-up(lg) {
                  margin-top: 55px;
                }
              }

              .extra {
                @include media-breakpoint-up(lg) {
                  font-size: 18px;
                }
              }
            }

            &.first {
              display: none !important;

              @include media-breakpoint-up(lg) {
                position: absolute;
                top: 20px;
                display: block !important;
              }

              a {
                @include media-breakpoint-up(lg) {
                  color: $blank;
                  text-align: center;
                }
              }
            }

            > span {
              display: none;
            }

            ul {
              display: block;

              li {
                display: block !important;
              }

              a {
                font-size: 18px;
                font-weight: 100;
                color: $blank;
                padding: 0px 20px;

                @include media-breakpoint-up(lg) {
                  padding: initial;
                }

                &.heading {
                  font-weight: bold;
                  margin-top: 20px;
                  display: block;
                }

                &:hover {
                  text-decoration: underline;
                }
              }

              .nolink {
                color: $blank;
                font-weight: bold;
                font-size: 14px;
                margin-top: 20px;
                padding: 0px 20px;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
