// Drupal Messages.
.messages {
  display: block;
  position: relative;
  padding: 0.5rem 1rem;
  border:1px solid;

  &.status {
    @include alert-variant(#fff,theme-color('success'), darken(theme-color('success'), 0.9));
  }
  &.warning {
    @include alert-variant(#fff,theme-color('warning'), darken(theme-color('warning'), 0.9));
  }
  &.error {
    @include alert-variant(#fff, #fff, darken(theme-color('danger'), 0.9));
    padding: 0.5rem 0;
  }
  &.info {
    @include alert-variant(#fff,theme-color('info'),darken(theme-color('info'), 0.9));
  }
}
