// Related Articles Views.
.related-news {
  .view-content {
    .views-row {
      margin-bottom: 3rem;

      .views-field {
        margin-bottom: 1rem;
      }

      .views-field-field-brafton-image {
        overflow: hidden;
        @include media-breakpoint-up(lg) {
          max-height: 219px;
        }
      }
    }
  }
}
