// Sidebar Styles.
#sidebar-right {
  .category-description {

  }
  .classes-taught-by {
    img {
      max-width: 100px;
    }
  }
}

#sidebar-left {
  .location-images,
  .address {
    img {
      margin-bottom: 1rem;
    }
  }
  #DigiCertClickID_snUyqBxZ {
    img {
      text-align: left !important;
      margin: 0 0 1rem 0 !important;
    }
    span {
      text-align: left !important;
    }
  }
}
