// Drupal Tabs

#quicktabs-view__dcb_resource_pages__panel_pane_1 {
  ul {
    padding: initial;

    li {
      display: inline-block;
      margin-bottom: 4px;
      padding: initial;

      &.active {
        a {
          background: $blue;
          color: $white;
        }
      }

      a {
        background: $grey;
        color: $blank;
        display: inline-block;
        font-size: $font-size-base;
        padding: 10px;
        text-decoration: none;

        &:hover {
          background: $blue;
          color: $white;
        }
      }
    }
  }
}
