// @file
// Styles for Site name.

@use '../../variables' as *;
@use '../../01-core/functions' as *;

.site-name {
  font-size: font-size(12);
  font-weight: font-weight(regular);
  margin: 0;

  a {
    &:visited {
      color: inherit;
    }
  }
}
