    <script src="/core/assets/vendor/jquery/jquery.min.js"></script>

    <!-- Concatenated by Gulp so you don't have to manually add each file. -->
    <script src="../../js/scripts.js?{{ cacheBuster }}"></script>

    <!--DO NOT REMOVE-->
    {{ patternLabFoot|raw }}
  </body>
</html>
