// @file
// Styles for Footer layout.

@use '../../01-core/functions/' as *;
@use '../../01-core/mixins/' as *;

.l-footer {
  position: relative;
}

.l-footer__container {
  border-top: 3px solid color(brand, blue-300);
  padding-bottom: units(4);
  padding-top: units(4);
}
