<footer class="l-footer {{ modifier }}" role="contentinfo">
  <div class="l-constrain">
    <div class="l-footer__container">
      {% block content %}
        {% include '@components/menu/menu.twig' with {
          'menu_name': 'footer',
          'items': footer_menu
        } %}
      {% endblock %}
    </div>
  </div>
</footer>
