// @file
// Styles for the Menu.

@use '../../variables' as *;
@use '../../01-core/functions' as *;
@use '../../01-core/mixins' as *;

.menu[aria-hidden="false"] {
  flex: 0 0 auto;
  position: static;
  visibility: visible;
  width: 100%;
}

// Main Menu
.menu--main {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
  z-index: z-index(dropdown);

  @media(min-width:$medium-screen) {
    display: flex;
  }

  .menu__item {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;

    @media(min-width:$medium-screen) {
      flex-direction: row;
    }
  }

  .menu__link {
    align-items: center;
    background: color(brand, blue-300);
    border: none;
    color: color(shades, light);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: units(2.5) units(1);
    width: 100%;

    &:hover,
    &:focus {
      background: color(brand, blue-400);
      text-decoration: none;
    }

    &[aria-expanded="true"] {
      background: color(brand, blue-400);
    }
  }

  .menu--level1 {
    background: color(brand, blue-200);
    left: 0;
    list-style: none;
    margin: 0;
    padding: units(5) units(2.5) units(2.5);
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 100%;

    &[aria-hidden="false"] {
      position: static;
      width: auto;
      visibility: visible;

      @media(min-width:$medium-screen) {
        position: absolute;
        width: 100%;
      }
    }

    .menu__item {
      display: block;
    }

    .menu__link {
      background: transparent;
      color: color(shades, dark);
      display: block;
      font-size: font-size(7);
      padding: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .menu--level2 {
    background: color(brand, blue-200);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    @media(min-width:$medium-screen) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > li {
        width: 24%;
      }
    }

    .menu__link {
      background: transparent;
      color: color(shades, dark);
      display: block;
      font-size: font-size(7);
      padding: 0;
    }
  }

  .menu--level3 {
    background: color(brand, blue-200);
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    .menu__item {
      width: 100%;
    }

    .menu__link {
      background: transparent;
      color: color(shades, dark);
      display: block;
      font-size: font-size(7);
      padding: 0;
    }
  }
}

// Secondary Menu
.menu--secondary {
  display: none;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  @media(min-width:$medium-screen) {
    display: block;
  }

  .menu__item {
    border-right: 1px solid color(grayscale, gray-20);
    display: inline;
    margin-right: units(1.5);
    padding-right: units(1.5);
    width: auto;
  }

  .menu__link {
    color: color(grayscale, gray-40);
    font-size: font-size(4);

    &:hover {
      color: color(brand, blue-300);
    }
  }
}

// Footer Menu
.menu--footer {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 0;

  .menu__item {
    display: inline;
    margin-bottom: 0;
    width: auto;
  }

  .menu__link {
    align-items: center;
    color: color(brand, blue-300);
    display: flex;
    font-size: font-size(8);
    text-transform: uppercase;

    &::before {
      content: '';
      display: inline-block;
      margin-right: units(1);
    }

    &:visited {
      color: color(brand, blue-300);
    }

    &:hover {
      color: color(brand, blue-400);
    }
  }

  .menu__link--phone {
    &::before {
      @include svg-icon("../img/phone-alt.svg", 20px, 20px, color(brand, blue-300));
    }
  }

  .menu__link--contact {
    &::before {
      @include svg-icon("../img/envelope.svg", 20px, 20px, color(brand, blue-300));
    }
  }

  .menu__link--locations {
    &::before {
      @include svg-icon("../img/map-marker-alt.svg", 20px, 20px, color(brand, blue-300));
    }
  }
}
