@use '00-settings' as *;
@use '01-core/functions/' as *;

// Focus
$focus-color: color(brand, blue-100) !default;
$focus-width: units(2px) !default;
$focus-offset: units(2px) !default;

// Links
$link-color: color(brand, blue-300) !default;
$link-color-visited: color(brand, blue-300) !default;
$link-color-hover: color(brand, blue-400) !default;
$link-color-active: color(brand, blue-400) !default;

// Inline Elements
$cite-color: color(grayscale, gray-60) !default;
$mark-background: color(ui, mark) !default;
$mark-color: color(shades, dark) !default;

// Blockquote
$blockquote-color: color(brand, blue-300) !default;

// Button

// Media Query Ranges
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;


// Grid
$gutter-width: units(5) !default;

// Contstraints
$max-width: rem(1440px) !default;
