/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 */

// Layout
$default-section-margin: 0;
$default_main_column_min_height: 1600px;

// Typography
//
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
$font-family-base: 'Roboto', sans-serif;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-xxl:  2.5rem;
$font-size-xl:   2rem;
$font-size-lg:   1.5rem;
$font-size-md:   1rem;
$font-size-sm:   0.875rem;
$font-size-xs:   0.75rem;
$font-size-xxs:   0.7rem;

$font-weight-normal: normal;
$font-weight-bold: bold;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

$h1-font-size: 1.85em;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1.15rem;
$h5-font-size: 1.15rem;
$h6-font-size: 1rem;


// Components
//
// Define common padding and border radius sizes and more.
$border-radius: .3rem;
$table-border-color: #C3C3C3;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1440px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  xl: 1440px
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns:               12;
$grid-gutter-width-base:     30px;
$grid-gutter-widths: (
        xs: $grid-gutter-width-base,
        sm: $grid-gutter-width-base,
        md: $grid-gutter-width-base,
        lg: $grid-gutter-width-base,
        xl: $grid-gutter-width-base
);

// Colors Variables.
// Add any color name overriders.
$red: #C52129;
$cian: #98D2F9;
$blue: #0071BB;
$blue-200: lighten($blue, 36%);
$blue-300: lighten($blue, 60%);
$blue-400: rgba(#DEE6EB, 40%);
$blue-dark: #005a95;
$blank: #000000;
$grey: #dddddd;
$grey-light: #f5f5f3;
$orange: #FF9801;
$white: #FFFFFF;

$colors: (
  "blue": $blue,
  "blue-200": $blue-200,
  "blue-300": $blue-300,
  "blue-400": $blue-400,
  "gray-light": whitesmoke,
  "orange": $orange
);
// Override Theme Colors.
$theme-colors: (
  "primary": $blue,
  "secondary": $orange
);

