// Special UL List with Blue Squares
@mixin list-agi {
  padding: 0;
  li {
    position: relative;
    margin:0;
    list-style: none;
    color: $body-color;
    padding-left: 1.25rem;
    &::before {
      content: "\25A0";
      color: color("blue-200");
      font-weight: bold;
      display: inline-block;
      font-size: 1.3rem;
      line-height: 1.3rem;
      margin-right: 0.5rem;
      position: absolute;
      left:0;
    }
  }
}

// Views: Horizontal List
@mixin views-list-horizontal {
  ul {
    list-style: none !important;
    li {
      list-style: none !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between !important;
      margin: 0 0 0.5rem 0;
      padding: 0;
      border-bottom: 1px solid $gray-400;
      &:last-child {
        border: none;
        padding: 0;
      }
      &::before {
        content: '' !important;
        display: none !important;
      }
    }
  }

  @include media-breakpoint-up(md) {
    ul {
      li {
        flex-direction: row;
        border: none;
        padding: 0;
      }
    }
  }
}

// Views: Alternating Row styling.
@mixin views-list-alternating {
  .views-row {
    padding: 1rem;
    margin-bottom: 1rem;
    &.views-row-odd {
      background: color("blue-400");
    }

    .views-field-nothing,
    .links {
      a {
        @include media-breakpoint-up(md) {
          font-size: 1rem;
        }
      }
    }
  }
}

// Views: Upcoming Events/Classes Styling.
@mixin views-upcoming-courses {
  //margin: 0 -15px;
  .view-content {
    table {
      thead {
        tr {
          th {
            padding: 0.35rem;
            font-size: 0.6rem;
            background: color("blue");
            color: color("white");
            border: none;
          }
        }
      }
      tbody {
        tr {
          border: none;
          td {
            padding: 6px;
            font-size: 0.6rem;
            line-height: normal;
            border: none;

            &.views-field-field-event-location {
              font-size: 0.5rem;
            }

            .delete-line-item.form-submit {
              @include button-variant(#ececec, #ececec);
              @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-base, $border-radius);
              color: theme-color("dark");
              padding: .25rem .5rem;
              font-size: .75rem;
              line-height: 1.5;
              border-radius: .2rem;
            }

            .btn.form-submit {
              line-height: normal;
              font-size: 0.75rem;
              padding: 0.25rem .5rem;
              @include media-breakpoint-up(lg) {
                padding: .375rem .75rem;;
              }
            }
          }

          &.odd {
            background: transparent;
            td {
              background: transparent;
            }
          }
          &.even {
            td {
              background: color("blue-300");
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    margin: 0;
    .view-content {
      table {
        thead {
          tr {
            th {
              padding: 0.5rem 1rem;
              font-size: 1rem;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 1rem;
              font-size: 1rem;
              line-height: normal;
              border: none;

              &.views-field-field-event-location {
                font-size: 1rem;
              }

              .btn {
                font-size: 1rem;
                padding: .25rem .5rem;
              }
            }

            &.odd {
              background: transparent;
              td {
                background: transparent;
              }
            }
            &.even {
              td {
                background: color("blue-300");
              }
            }
          }
        }
      }
    }
  }
}

// FORM: Request Info
@mixin requestInfoForm() {
  .card-body {
    background: #000;
    color: #fff;
    form {
      textarea,
      input {
        width: 100%;
      }
      textarea {
        margin-top: .25rem;
        border-radius: 0.3rem;
        padding: .375rem .75rem;
      }
      .webform-component-radios {
        label {
          display: none;
        }
        .form-radios {
          .form-type-radio {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            input {
              width: 2rem;
            }
            label {
              display: inline;
              margin: 0;
            }
          }

        }
      }
    }
  }
}

// Callout
@mixin callout($border-left-color: theme-color("primary")) {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  border-left-color: $border-left-color;
}


@mixin form-control() {
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  font-family: $input-font-family;
  @include font-size($input-font-size);
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius, 0);

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }
}

@mixin select-form-control {
  &:focus::-ms-value {
    // Suppress the nested default white text on blue background highlight given to
    // the selected option text when the (still closed) <select> receives focus
    // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
    // match the appearance of the native widget.
    // See https://github.com/twbs/bootstrap/issues/19398.
    color: $input-color;
    background-color: $input-bg;
  }
}
