// Class Room Training.
.path-about {
  #see-courses {
    img {
      margin-right: 15px;
    }
  }

  .panels-flexible-region-bgw_3_col-left_grey_col,
  .panels-flexible-region-bgw_3_col-right_grey_col {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }

  }
}


