.path-books {
  .view-dc-books-categories {
    .views-row {
      .field-name-field-dcb-category-icon {
        float: left;
        margin-right: 1rem;
      }
    }
  }
}


.node-type-dc-book {
  .page-title {
    display: none;
  }
  .video-js {
    float: none;
  }
  .secondary-navigation {
    margin: 2rem 0;
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
    }

    a {
      margin-bottom: 1rem;
    }
    .view-dcb-errata-pages {
      .views-row {
        .views-field {
          @include media-breakpoint-up(lg) {
            margin: 0 1rem;
          }
        }
      }
    }
    .view-dc-book-detail {
      .views-row {
        @include media-breakpoint-up(lg) {
          display: flex;
          align-items: center;
        }
        .views-field {
          @include media-breakpoint-up(lg) {
            margin: 0 1rem 0 0;
          }
        }
      }
    }
  }
}

// Book Categories.
.view-all-news-articles.view-display-id-block_3 {
  ul {
    padding: 0;
    li.views-row {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ccc;
      .floatLeft {
        float: left;
        margin: 0 1rem 0 0;
      }
    }
  }
}

#quicktabs-container-view__dcb_resource_pages__panel_pane_1 {
  .video-js {
    width: 100% !important;
    @include media-breakpoint-up(md) {
      height: 530px !important;
    }
  }
}

.links-box {
  .view {
    .field-content {
      a {
        background: $blue;
        color: $white;
        display: block;
        padding: 5px;
        width: 100%;
        text-align: center;
        text-decoration: none;

        @include media-breakpoint-up(md) {
          max-width: 300px;
        }

        &:hover {
          background: $blue-dark;
        }
      }
    }
  }
}
