// Cart page style.

.page-cart {
  // Dont display success messages.
  .messages.status {
    display: none;
  }
  #edit-submit {
    @include button-variant(theme-color('primary'), theme-color('primary'));
  }
  #wrapper #mainContent #sidebar-left {
    position: relative !important;
  }
  .view-commerce-cart-form {
    thead {
      display: none;
      @include media-breakpoint-up(lg) {
        display: table-header-group;
      }

      tr {
        th {
          background: transparent;
          color: black;
          font-size: 0.85rem !important;
          line-height: normal;
          @include media-breakpoint-up(xl) {
            font-size: 0.85rem !important;
          }
        }
      }
    }

    tbody {
      tr {
        display: block;
        padding: 1rem;
        border: 1px solid #ccc !important;
        margin-bottom: 1rem;
        @include media-breakpoint-up(lg) {
          display: table-row;
          padding: 0;
          border: none !important;
          margin-bottom: 0;
        }

        td {
          display: block;
          font-size: 0.8rem !important;
          @include media-breakpoint-up(lg) {
            display: table-cell;
            padding: 0.5rem !important;
          }
          @include media-breakpoint-up(xl) {
            font-size: 1rem !important;
          }
        }

        &.odd {
          td {
            background-color: transparent !important;
            @include media-breakpoint-up(lg) {
              background-color: color("blue-300") !important;
            }
          }
        }
        &.even {
          background-color: transparent !important;
          td {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}

.page-checkout {
  // Dont display success messages.
  .messages.status {
    display: none;
  }
  #edit-submit {
    @include button-variant(theme-color('primary'), theme-color('primary'));
  }
  .form-submit {
    @include button-variant(theme-color('light'), theme-color('dark'));
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-base, $border-radius);
  }
  #commerce-checkout-form-checkout {

    .form-textarea,
    .form-text {
      @include form-control();

      @include media-breakpoint-up(lg) {
        max-width: 100%;
      }
    }

    select {
      @include select-form-control();
      height: calc(2.25rem + 2px);
      max-width: 100%;
    }

    fieldset {
      padding: 0;

      fieldset {
        padding: 0;
      }

      legend {
        margin-bottom: 0;
      }

      &:first-child {
        legend {
          display: none;
        }
      }

      .fieldset-wrapper {
        padding: 0 1rem;
      }

      label {
        font-weight: bold;
      }

      .form-type-radio {
        label {
          display: inline;
          margin-left: 1rem;
        }
      }

      &#edit-cart-contents {
        border-bottom: 1px solid $blue;
        margin-bottom: 1rem;
      }

      &#edit-account {
        border-top: 1px solid $blue;
      }

      &#edit-commerce-fieldgroup-pane-group-student-info {
        border-bottom: 1px solid $blue;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        .form-item {
          padding: 0;
        }
      }
      &#edit-customer-profile-billing {
        padding-top: 0;
      }
    }

    .form-item {
      float: none !important;
      padding: 1rem 0;
      .form-item {
        padding: 0;
      }
    }

    .street-block {
      padding: 1rem 0;
      display: flex;
      .form-item {
        width: 100%;
        &:first-child {
          margin-right: 1rem;
        }
        input {
          max-width: 100%;
        }
      }
    }

    .addressfield-container-inline {
      @include media-breakpoint-up(lg) {
        display: flex;
        input {
          max-width: 100%;
        }
      }
    }

    .commerce-paypal-icons {
      display: none;
    }

    #edit-commerce-payment-payment-details-credit-card-code {
      max-width: 100px;
    }

    .form-item {
      label {
        display: block;
      }
    }

    .description {
      font-size: 0.85rem;
    }

    .checkout-buttons {
      .fieldset-wrapper {
        display: flex;
        justify-content: flex-end;
        .checkout-continue {
          background: #ff9900;
          color: #000000;
          float: right;
          font-size: 18px;
          margin: 1rem 0;
          border-radius: 3px;
          border: none;
        }
        .button-operator,
        .checkout-cancel {
          display: none;
        }
      }
    }
  }
}
