// Category Secondary Location page.
.node-type-seconday-location-category-page {
  .min-height {
    min-height: $default_main_column_min_height;
  }

  .classes-offered {
    .views-field-field-courses-in-category {
      @include views-list-horizontal();
    }
  }
  .course-details {
    @include views-list-alternating();
  }
  .upcoming-classes {
    @include views-upcoming-courses();
  }

  .additional-info {
    .block {
      .content {

      }
    }
  }
}

