// Category Location page.
.node-type-category-location-page {
  .min-height {
    min-height: $default_main_column_min_height;
  }

  .intro {
    form {
      input {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .3rem;
        transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;

        &.form-submit {
          @include button-variant(theme-color("primary"), theme-color("primary"));
          width: auto;
        }
      }
    }
  }

  .classes-offered {
    .views-field-field-courses-in-category {
      @include views-list-horizontal();
    }
  }
  .course-details {
    @include views-list-alternating();
  }
  .upcoming-classes {
    @include views-upcoming-courses();
  }
  .popular-courses {
    ul {
      columns: 2;
    }
  }

  .additional-info {
    .block {
      .content {

      }
    }
  }

  .secondary-navigation {

    .views-row {
      display: block;
      margin: 1em 0;
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: flex-start;
      }
      .views-field {
        a {
          color: #fff;
          background-color: #0071bb;
          border-color: #0071bb;
          display: inline-block;
          font-weight: 400;
          text-align: center;
          vertical-align: middle;
          user-select: none;
          transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
          padding: .375rem .75rem;
          font-size: 1rem;
          line-height: 1.5;
          border-radius: .3rem;
          margin: 0 0.25rem 1rem 0.25rem;

          &:hover {
            color: #fff;
            background-color: #005a95;
            border-color: #005288;
          }
        }
      }
    }
  }
}

#block-system-main .classes-offered {
  ul:not(.list-unstyled) li,
  ul.list-agi:not(.list-unstyled) li {
    margin: 0 0 .5rem;
    padding-left: 0;
  }
}
