body.node-type-subject {
  #wrapper {
    .node-subject {
      .secondary-navigation {
        .views-row {
          display: block;
          margin: 1em 0;
          @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: space-between;
          }
          .views-field {
            a {
              color: #fff;
              background-color: #0071bb;
              border-color: #0071bb;
              display: inline-block;
              font-weight: 400;
              text-align: center;
              vertical-align: middle;
              user-select: none;
              transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
              padding: .375rem .75rem;
              font-size: 1rem;
              line-height: 1.5;
              border-radius: .3rem;
              margin: 0 0.25rem 1rem 0.25rem;

              &:hover {
                color: #fff;
                background-color: #005a95;
                border-color: #005288;
              }
            }
          }
        }
      }

      .classes-offered {
        .views-field-field-courses-in-category {
          @include views-list-horizontal();
        }
      }

      .course-details {
        @include views-list-alternating();
      }

      .classroom-locations {
        table.views-view-grid {
          tr {
            td {
              width: 50%;
            }
          }
        }
        .view-all-locations-link,
        .field-name-field-cat-left-sidebar-text {
          padding: 0 15px;
          p {
            margin: 0 0 15px 0;
          }
        }
      }

      .upcoming-classes {
        @include views-upcoming-courses();
      }
    }
  }
}

body.node-type-subject.path-adobe {
  #wrapper {
    .classes-offered {
      .views-field-field-courses-in-category {
        ul {
          max-width: 100%;
          @include media-breakpoint-up(md) {
            max-width: 50%;
          }
          li {
            flex-direction: row;
          }
        }
      }
    }
    .course-options {
      .feather-icon {
        color: black;
        --svg-icon-size: 1.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}
