// Class Room Training.
.path-certificates-training {
  #see-courses {
    img {
      margin-right: 15px;
    }
  }

  .panels-flexible-region-bgw_3_col-left_grey_col,
  .panels-flexible-region-bgw_3_col-right_grey_col {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }

  }
}

.node-type-certificate-program-location-pag {
  .popular-courses {
    .field-name-field-popular-courses {
      clear: both;
      overflow: hidden;
      @include media-breakpoint-up(md) {
        .field-item {
          float: left;
          width: 50%;
        }
      }
    }
  }
}

// Adobe Certificates.
.path-adobe-adobe-certification-training {
  h3 {
    a {
      img {
        margin-right: 0.75rem;
      }
    }
  }
}
