.node-type-certificate-program-location-pag {
  .course-details {
    @include views-list-alternating();
  }

  .upcoming-classes,
  .popular-courses {
    margin-left: 0;
    @include media-breakpoint-up(md) {
      margin-left: 33.33333%;
    }
  }
}

