// Certificate Program.
.node-type-certificate-program {
  .course-details {
    @include views-list-alternating();
  }
}

// Landing Page.
.path-certificates {
  .categories {
    h3 {
      img {
        margin-right: 0.5rem;
      }
    }
  }
}
