// Class Room Training.
.path-classroom-training {
  #see-courses {
    img {
      margin-right: 15px;
    }
  }
  .categories {
    h3 {
      img {
        margin-right: 0.5rem;
      }
    }
  }
}


