// Course Node Styling.
.node-type-course {
  .field-name-field-upcoming-events {
    @include views-upcoming-courses();
  }

  .item-list {
    ul.list-inline {
      display: block !important;
      li {
        display: block;
        margin-bottom: 1rem !important;
        .btn {
          font-size: 0.75rem;
        }
      }

      @include media-breakpoint-up(md) {
        display: flex !important;
        li {
          margin-bottom: 0 !important;
        }
      }
      @include media-breakpoint-up(md) {
        display: flex !important;
        li {
          .btn {
            font-size: $font-size-sm;
          }
        }
      }
    }
  }

  .node.node-course {
    .secondary-navigation {
      a {
        &.active {
          background: #0071bb;
          border-color: #0071bb;
        }
        &:hover {
          background: #005288;
          border-color: #005288;
        }
      }
    }

    .field {
      margin-bottom: 3rem;

      &.field-name-field-course-thumbnail {
        float: left;
        margin: 0 1rem 0 0;
      }
      &.field-name-field-course-name {
        margin: 0;
        font-size: $h5-font-size;
      }
      &.field-name-field-desc {
        clear: both;
        margin-top: 1rem;
      }
      &.field-name-field-course-pdf {
        ul.list-inline {
          display: flex;
          justify-content: space-between;
          a.active {
            background: theme-color("primary");
            border-color: theme-color("primary");
          }
        }
      }
    }
  }
}
