.node-type-exam-credit-product-display {
  #sidebar-left {
    max-width: 225px;
    h2 {
      font-weight: 300;
    }
    h3 {
      font-size: 2rem;
    }
  }
}
.view-exam-products.view-display-id-block_3 {
  max-width: 225px;
  h2 {
    font-weight: 300;
  }
  .views-field-commerce-price,
  h3 {
    font-size: 2rem;
  }
}
