// Misc pages.

// Creative Cloud Skills Assessment
.page-node-59591 {
  .page-title {
    h1 {
      display:none;
    }
  }
}

// Creative Cloud Certification Test
.page-node-61986 {
  .page-title {
    h1 {
      display:none;
    }
  }
}
