// News Styles.
.node-type-b-news {
  .field-name-field-brafton-image {
    img {
      width: 100%;
    }
  }

  .author {
    .field-name-field-staff-image {
      float: left;
      margin: 0 1rem 0 0;
    }
  }

  // Related Articles Views.
  #sidebar-left {
    .related-news {
      .view-content {
        .views-row {
          margin-bottom: 1rem;

          .views-field {
            margin-bottom: 1rem;
          }

          .views-field-field-brafton-image {
            overflow: hidden;
            @include media-breakpoint-up(lg) {
              max-height: 219px;
            }
          }
        }
      }
    }
  }


}

// Design News.
.path-design-news {
  .panels-flexible-row-bgw_3_col-1-inside {
    .panels-flexible-region-last {
      width: 100%;
      @include media-breakpoint-up(lg) {
        float:left;
        width: 33.33%;
      }
    }
    .panels-flexible-region-first {
      display: none;
    }
    .panels-flexible-region-bgw_3_col-center_grey_col {
      width: 100%;
      @include media-breakpoint-up(lg) {
        float: right;
        width: 66.66%;
        padding-left: 60px;
      }

    }
  }

  .view-all-news-articles {
    .views-row {
      margin-bottom: 2.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $gray-300;
    }
    .news-component {
      display: flex;
      flex-direction: column;
      @include media-breakpoint-up(xl) {
        flex-direction: row;
      }
      .image {
        flex: 1;
        max-width: 100%;
        img {
          width: 100%;
          margin-bottom: 2rem;
        }
        @include media-breakpoint-up(xl) {
          max-width: 33%;
          margin-right: 2rem;
          img {
            margin-bottom: 0;
          }
        }
      }
      .content {
        flex: 1;
      }
    }
  }
}
