// Class Room Training.
.page-node-1702,
.path-online-training {
  #see-courses {
    img {
      margin-right: 15px;
    }
  }

  .categories {
    h3 {
      img {
        margin-right: 0.5rem;
      }
    }
  }

  .panels-flexible-region-bgw_3_col-left_grey_col,
  .panels-flexible-region-bgw_3_col-right_grey_col {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }

  }
}


