.page-profile,
.page-profile-main-edit {

  .profile-header {
    p {
      margin: 0;
    }
  }

  .tabs {
    .nav-item a {
      border: 1px solid theme-color("primary");
      margin-right: 0.5rem;
    }
  }

  .edit-membership {
    @include media-breakpoint-up(lg) {
      position: absolute;
      right: 0;
    }
  }

  .profile-completed {
    .public-profile {
      margin-bottom:2rem;

      #copy-button {
        vertical-align: top;
        padding: 0 10px;
        height: 52px;
        background: #d6dbda; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #d6dbda 0%, #ffffff 100%);
        background: -webkit-linear-gradient(-45deg, #d6dbda 0%,#ffffff 100%);
        background: linear-gradient(135deg, #d6dbda 0%,#ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6dbda', endColorstr='#ffffff',GradientType=1 );
        border: 1px solid #999;
      }
      input {
        border: 1px solid #999;
        padding: 10px;
        width: 30%;
        color: darkgray;
      }
      .copy-label {
        font-size: 1rem;
        vertical-align: middle;
        padding: 10px;
      }
    }
  }
}
