.node-type-quiz {
  font-family: Arial, 'serif';
}
.node-type-quiz #middle {
  margin-top:0;
}
.node-type-quiz #leftSidebar,
.node-type-quiz #rightSidebar {
  display:none;
}
/** Hide Some Quiz Elements **/
.node-type-quiz .field-name-body,
#quiz_progress {
  display:none;
}

/**------------------------------------------------------------
 * ALL QUIZ TYPE [Styles Same for All Quiz Types]
 *-----------------------------------------------------------*/

/** Hide Local Tasks Tabs From Annonymous **/
.not-logged-in .tabs.primary {
  display:none;
}

/** Quiz Start Page **/
#mainContent .node.node-quiz {
  max-width: 80%;
  margin:0 auto;
  font-family: Arial, 'serif';
}
#mainContent .node.node-quiz h1 {
  font-size:32px;
  margin: 25px 0;
}
#mainContent .node.node-quiz .certificate-link {
  display:none;
}
.node.node-quiz .field-name-body {
  display:block;
}
.node.node-quiz #quiz-view-table,
.node.node-quiz .field-name-field-quiz-type {
  display:none;
}
.node.node-quiz #quiz-start-quiz-button-form {
  text-align: center;
  font-size:32px;
  margin-top:50px;
}
.node.node-quiz #quiz-start-quiz-button-form .form-group {
  position: relative;
}
.node.node-quiz #quiz-start-quiz-button-form input {
  display: inline-block;
  background: #0C9CCE;
  border-radius:12px;
  padding: 15px 20px;
  border: none;
  color: #fff;
  text-transform: uppercase;
}
.node.node-quiz #quiz-start-quiz-button-form i {
  color: #fff;
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 45px;
}

/** Quiz Styling **/
.agi-quiz-results.container,
.agi-answering-form.container {
  width:100%;
}
.agi-quiz-results.container .row,
.agi-answering-form.container .row {
  margin:0;
}
.agi-answering-form .quiz-title .inner {
  width: 80%;
  margin: 0 auto;
}
.agi-answering-form .quiz-title h2 {
}
.agi-answering-form .quiz-nav #quiz_progress {
  display:inline-block;
  font-size:36px;
  vertical-align: top;
}
.agi-answering-form .quiz-nav #quiz_progress .quiz-label {
  padding-right:10px;
}
.agi-answering-form .quiz-nav #quiz_progress .glyphicon {
  background: #fff;
  border-radius: 36px;
  padding: 5px;
  font-size: 36px;
  border: 1px solid #000;
}
.agi-answering-form .quiz-nav #quiz_progress .quiz-progress-text,
.agi-answering-form .quiz-nav #quiz_progress .quiz-progress-text span {
  vertical-align: top;
  display:inline-block;
}
.agi-answering-form .quiz-nav #quiz_progress .quiz-progress-text {
  font-size:18px;
}
.agi-answering-form .question {
  font-size:24px;
  margin:50px auto 0 auto;
  max-width:80%;
}
.agi-answering-form .question .form-item {
  margin: 15px 0 15px;
}
.agi-answering-form .question .form-item label {
  margin-bottom: 15px;
}
.agi-answering-form .question label {
  font-size:18px;
}
.agi-answering-form .question #edit-tries-answer {
  padding:0 30px;
  font-size:18px;
}
.agi-answering-form .question #edit-tries-answer table {
  width:100%;
}
.agi-answering-form .question #edit-tries-answer table tr {
  background-color: transparent;
  border:none;
}
.agi-answering-form .question .skip {
  text-align:right;
  font-size:18px;
}
.agi-answering-form .question .skip input {
  background:#fff;
  border:1px solid #ccc;
  padding:5px 10px;
}
.agi-answering-form .actions input {
  display: block;
  background: #0C9CCE;
  border-radius:12px;
  padding: 10px 25px;
  border: none;
  color: #fff;
  text-align: center;
  font-size:32px;
  height: auto;
  width: auto !important;
  line-height:normal;
}

/** Quiz Report **/
.page-node-take.node-type-quiz #quiz_score_possible,
.page-node-take.node-type-quiz #quiz_score_percent,
.page-node-take.node-type-quiz #quiz_summary,
.node-type-quiz.page-node-results #quiz_score_possible,
.node-type-quiz.page-node-results #quiz_score_percent,
.node-type-quiz.page-node-results #quiz_summary {
  display:none;
}
.node-type-quiz #mainContent h2 {
  color: #000;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.agi-quiz-results .score {
  margin:30px 0 0 0;
  font-size:36px;
}
.agi-quiz-results .score .fail {
  color:red;
}
.agi-quiz-results .failed-exam-instructions,
.agi-quiz-results .view-certificate-instructions {
  margin-top: 15px;
  font-size: 28px;
}
.agi-quiz-results .btn {
  display: inline-block;
  background: #0C9CCE;
  border-radius:12px;
  padding: 15px 20px;
  border: none;
  color: #fff;
  font-size: 21px;
}
.agi-quiz-results .summary {
  margin-top: 50px;
  font-size: 18px;
}

.quiz-report {
  padding:0 50px;
}
.quiz-report table {
  margin-top:15px;
  font-size:18px;
}
.quiz-report table thead th {
  text-align:center;
  border:none;
  font-weight:normal;
}
.quiz-report table thead th:first-child {
  width:10%;
}
.quiz-report table tbody td {
  border:none;
}
.quiz-report table .questions-correct {
  font-size:24px;
}
.quiz-report table .questions-correct .glyphicon-ok-sign {
  color:green;
}
.quiz-report table .questions-correct .glyphicon-remove-sign {
  color:red;
}
.quiz-report table .questions-correct.marked {
  background:#3399cc;
  border:1px solid #3399cc;
}
.quiz-report table .question ul {
  margin:0;
  padding:0;
}
.quiz-report table .question .question-text p {
  margin:0;
}
.quiz-report table .question .responses ul li {
  display:inline-block;
  list-style:none;
  font-size:16px;
  padding:0 !important;
  margin:0 !important;
}


/**------------------------------------------------------------
 * EXAM QUIZ TYPE [Specific for Exam type Quizzes]
 *-----------------------------------------------------------*/

/** Quiz Styling **/
.quiz-exam-wrapper {
  max-width: 80%;
  margin: 0 auto;
}
.quiz-exam-wrapper .quiz-exam-header.row {
  margin-bottom: 30px;
}
.quiz-exam-wrapper .quiz-exam-header-logo img {
  width:100%;
  height:auto;
}
.agi-quiz-results.exam .quiz-nav,
.agi-answering-form.exam .quiz-nav {
  text-transform: uppercase;
}
.agi-answering-form.exam #quiz_progress {
  padding-left: 15px;
}
.agi-answering-form.exam .quiz-nav #quiz_progress span.quiz-label {
  display:none;
}
.agi-answering-form.exam .quiz-nav .back.form-group input {
  display:inline-block;
  background: #fff;
  border-radius: 50%;
  padding: 25px;
  border: 1px solid #000;
  text-indent: -9999px;
  width:20px;
  height:20px;
}

#mainContent .agi-quiz-results.exam .quiz-nav h1,
#mainContent .agi-answering-form.exam .quiz-nav h1 {
  font-size:28px;
  text-align:center;
}
.agi-answering-form.exam .actions input {
  display: block;
  background: #0C9CCE;
  border-radius:12px;
  padding: 10px 25px;
  border: none;
  color: #fff;
  text-align: center;
  font-size:32px;
  height: auto;
  width: auto !important;
  line-height:normal;
}
.agi-answering-form.exam .quiz-nav .actions i {
  font-size:36px;
  top: 8px;
  right: 9px;
}
.agi-answering-form.exam .quiz-nav .actions .skip {
  text-align:right;
}
.agi-answering-form.exam .quiz-nav .actions .skip input {
  border:none;
  text-indent: 0;
  padding:0;
  width:auto;
  border-radius:0;
  background:transparent;
  color:#336c9f;
}
.agi-answering-form.exam .quiz-nav .actions .skip input:hover {
  text-decoration:underline;
}

/**------------------------------------------------------------
 * ASSESSMENT QUIZ TYPE [Specific for ASSESSMENT type Quizzes]
 *-----------------------------------------------------------*/

/*!** Quiz Report **!*/
#mainContent .agi-quiz-results.assessment .incorrect-questions {
  font-size: 18px;
}
#mainContent .agi-quiz-results.assessment .question {
  margin-bottom:40px;
}
#mainContent .agi-quiz-results.assessment .question p {
  margin-bottom:10px;
}

/**------------------------------------------------------------
 * Admin Results Manager.
 *-----------------------------------------------------------*/
#quiz-results-manage-results-form .form-wrapper {
  margin:25px 0;
}
#quiz-results-manage-results-form .form-wrapper legend {
  font-size: 12px;
  padding:15px 0;
}
#quiz-results-manage-results-form .form-wrapper legend a.fieldset-title {
  padding-left: 25px;
}
#quiz-results-manage-results-form table {
  width:100%;
  margin-top:50px;
}
#quiz-results-manage-results-form table td {
  padding:10px;
}
