// Class Room Training.
.page-reviews {
  .panels-flexible-row-inside {
    display: flex;
    flex-direction: column-reverse;
    @include  media-breakpoint-up(lg) {
      display: block;
    }
  }

  .container-row {
    display: flex;
    .col6:first-child {
      padding-right: 1rem;
    }
    .blue-light-bg {
      background: #cce3f1;
      padding: 1rem;
    }
  }

  //.panels-flexible-region-first,
  //.panels-flexible-region-last {
  //  display: none;
  //  @include media-breakpoint-up(lg) {
  //    display: block;
  //  }
  //
  //}
}

.all-locations-pages {
  .view-reviews {
    h3[itemprop="name"],
    div[itemprop="aggregateRating"],
    div[itemscope] > img {
      display: none;
    }
  }
}

.page-course-reviews {
  #breadcrumbs-search {
    display: none !important;
  }
}

