.page-search404,
.page-search-site {
  .region-left-sidebar {
    .block-facetapi {
      h2 {
        font-size: $font-size-md;
      }
    }
  }


  h1 {
    display: none;
  }
  form.search-form {
    .container-inline {
      display: flex;
      .form-item {
        label {
          display: none;
        }
        &.form-type-textfield {
          width: 100%;
          input {
            width: 100%;
          }
        }
      }
      .form-submit {
        .feather-icon {
          color: #fff;
        }
      }
    }
  }
  .spelling-suggestions {
    @include callout(theme-color("warning"));
    background: whitesmoke;
    padding: 1rem 0 0 1rem;
    .form-item {
      margin: 0;
    }
  }

  .search-results {
    margin: 0;
    padding: 0;
    .search-result {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #ccc;
      .search-snippet-info {
        padding: 0;
        .search-info {
          display: none;

        }
      }
    }

  }
}

@include media-breakpoint-up(md) {
  form {
    .container-inline {
      .form-item {
        &.form-type-textfield {
          max-width: 600px;
        }
      }
    }
  }
}
