#edit-agi-seats {
  margin-top: 60px;
  .fieldset-wrapper {
    padding: initial !important;

    .messages {
      &.error {
        ul {
          li {
            color: #c12028;
            &::before {
              color: #c12028;
            }
          }
        }
      }
    }
  }
}

.form-item-agi-seats-is-billing-different {
  display: flex;
  align-items: center;

  label {
    margin: 0px;
  }
}

#edit-agi-seats-is-billing-different {
  margin-right: 10px;
}

.agi-seats-wrapper {
  .agi-seats-field {
    float: left !important;

    .form-item {
      padding: 0px !important;
    }

    label {
      font-size: 0.8em;
    }

    &.pc {
      white-space: nowrap;
    }
  }

  .agi-seats-delimiter {
    width: 100%;
    float: left !important;

    .form-item {
      padding: 0px !important;
    }
  }

  .form-text {
    max-width: 90% !important;
  }

  .agi-seats-field-wrapper {
    > .form-type-item {
      width: 100%;
    }
  }
}

.form-item-commerce-coupon-coupon-code {
  #id-check {
    display: inline-block;
  }

  label {
    display: inline-block !important;
  }
}

.page-checkout {
  #commerce-checkout-form-checkout {
    #edit-commerce-coupon-coupon-code {
      display: none;
    }
    .checkout-buttons {
      .fieldset-wrapper {
        .checkout-continue {
          font-size: 24px !important;
        }
      }
    }

    #edit-commerce-fieldgroup-pane-group-student-info {
      legend, #edit-commerce-fieldgroup-pane-group-student-info-field-student-names-os {
        display: none;
      }
      .fieldset-wrapper {
        padding: 0;
      }
    }
  }
}

#edit-commerce-coupon-coupon-add,
.form-item-commerce-coupon-coupon-code .description {
  display: none;
}
