.page-taxonomy-term {

  h1 {
    color: $blue;
  }

  .view-mode-taxoonomy_term_no_title_link {
    .field-name-title {
      display: none;
    }

    p {
      font-size: 16px;
    }
  }

  .view-id-tutorials {

    .views-row {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      font-size: 20px;
      margin: 0px 0px 20px 0px !important;
      padding: 0 16px !important;
      width: 100%;

      @include media-breakpoint-up(md) {
        width: 30%;
        min-height: 220px;
      }

      img {
        margin-bottom: initial;
        width: auto;
      }

      .views-field-title {
        font-size: 20px;
        line-height: 20px;
      }
    }

    .item-list .pager {
      background-color: $grey-light;
      clear: both;
      color: $blue;
      margin: 0 0 0.75em 0;
      padding: 10px !important;
      text-align: center;

      li {
        background-image: none;
        border: solid 1px $grey-light;
        font-size: $font-size-base;
        list-style: square;
        margin-left: 10px;
        padding: 0.5em !important;

        &:hover {
          border: solid 1px $blue;
          background-color: $white;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }

}
