
.page-all-tutorials {
  .view-tutorials {
    .view-content {
      ul {
        li {
          padding-left: 0;
          max-width: 29%;
          display: inline-block;
          vertical-align: top;
          line-height: 120%;
          margin: 0 5% 0 0;

          &:before {
            display: none !important;
            content: ""
          }
          &:last-child {
            margin: 0;
          }

          img {
            width: 100%;
          }
          h3 {
            font-size: 1.2rem;
            margin: 1rem 0;
          }
        }
      }
    }
  }
}
.tutorial-category.page-taxonomy-term .panel-flexible-inside .panels-flexible-region-first {
  width: 100%;
}
.tutorial-category {
  .view-tutorials {
    .view-content {
      .views-row {
        max-width: 100%;
        margin-bottom: 50px;
        @include media-breakpoint-up(lg) {
          padding-left: 0;
          max-width: 29%;
          display: inline-block;
          vertical-align: top;
          line-height: 120%;
          margin: 0 1% 3rem 1%;
          min-height: 325px;
        }
        img {
          width: 100%;
          margin-bottom: 1rem;
        }
        h3 {
          font-size: 1.2rem;
          margin: 1rem 0;
        }
      }
    }
  }
}
