.m-t-1 {
    margin-top: 20px;
}

.m-t-2 {
    margin-top: 40px;
}

.m-t-3 {
    margin-top: 60px;
}

.m-b-1 {
    margin-bottom: 20px;
}

.m-b-2 {
    margin-bottom: 40px;
}

.m-b-3 {
    margin-bottom: 60px;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

h1, .h1 {
    font-size: 2em;
}

h2, .h2 {
    font-size: 1.5em;
}

h3, .h3 {
    font-size: 1.25em;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}


.col6 {
    width: 45%;
    float: left;
}

.col6.last {
    float: right;
}

table {
    border-top: solid 2px #fff;
    width: 100%;
}