#wrapper .container {
  padding: 0 5% 150px 5%;
  margin-top: 0;
}
.profile-header {
  margin-bottom: 25px;
}
.profile-header .name {
  font-size: 1.5rem;
  margin-bottom: 2px;
}
.profile-header .uid,
.profile-header .date {
  font-size: 1.25rem;
  margin-bottom: 2px;
}
.profile-header .agi-info {
  font-size: 1.25rem;
  text-align: right;
  margin-bottom: 5px;
}
.tabs ul.tabs {
  margin:0 0 25px 0;
  padding:0;
  clear: both;
  overflow: hidden;
  border: none;
}
.tabs ul.tabs li {
  display: block;
  float: left;
  margin: 0 15px 0 0;
  padding: 0;
}
.tabs ul.tabs li a {
  display: block;
  background: #B7DBED;
  color: #ffffff;
  border: none;
  padding: 15px 25px;
  font-size: 1.25rem;
}
.tabs ul.tabs li a:hover,
.tabs ul.tabs li a.active {
  background: #3399cc;
}

.member-profile-info {
  position: relative;
  font-size: 1.25rem;
}
.member-profile-info .edit-membership {
  position: absolute;
  top: 0;
  right:0;
}
.member-profile-info .edit-membership a {
  color: #000;
}
.member-profile-info .edit-membership .glyphicon {
  border: 1px solid #000;
  padding: 7px;
  border-radius: 50%;
  font-size: 0.9rem;
}
.member-profile-info .label {
  display: inline-block;
  font-size: 1.25rem;
  color: #000;
  padding: 0;
  font-weight: normal;
  width: 15%;
  text-align: left;
}
.member-profile-info .username,
.member-profile-info .first_name,
.member-profile-info .last_name,
.member-profile-info .email {
  margin-bottom: 10px;
}
.member-profile-info .edit-account {
  margin-top: 50px;
}
.member-profile-info .edit-account a.blue-button {
  display: inline-block;
  padding: 10px 25px;
}

.profile-upcoming .exam-credits,
.profile-upcoming .upcoming-classes,
.profile-completed .completed-classes {
  margin-bottom: 50px;
}
.profile-upcoming .item,
.profile-completed .item {
  font-size: 1rem;
  height: 20px;
  margin-bottom: 15px;
  position: relative;
}
.profile-upcoming .wishlist .item {
  border: none;
}
.profile-upcoming .item .title,
.profile-upcoming .item .date,
.profile-completed .item .title,
.completed-classes .item .date {
  position: absolute;
  bottom: -5px;
  background: #fff;
}

.completed-classes .item .certificate,
.completed-exams .item .date-passing {
  position: absolute;
  bottom: -5px;
  right: 0;
}
.completed-classes .item .certificate {
  padding: 0 15px;
}
.completed-classes .item .certificate,
.completed-exams .item .date-passing .date {
  background: #fff;
}
.completed-exams .item .date-passing.passing .date {
  margin-right: 40px;
  padding: 0 15px;
}
.completed-exams.public .item .date-passing .date {
  padding: 0 15px;
}
.completed-classes .item .date {
  margin-right: 170px;
  padding: 0 15px;
}
.completed-classes.public .item .date {
  margin: 0;
}
.completed-exams .item .date-passing .passing {
  background: #fff;
  padding-left: 15px;
}
.profile-upcoming .item .title,
.profile-completed .item .title {
  padding-right:15px;
}
.profile-upcoming .item .date,
.completed-classes .item .date {
  padding-left: 15px;
  right:0;
}

.profile-completed .public-profile {
  margin-bottom: 50px;
}
.profile-completed .public-profile p {
  margin-bottom:5px;
}
.profile-completed .public-profile input {
  border: 1px solid #999;
  padding: 10px;
  width: 30%;
  color: darkgray;
}
.profile-completed .public-profile .glyphicon {
  font-size: 1.25rem;
  vertical-align: middle;
}
.profile-completed .public-profile #copy-button {
  vertical-align: top;
  padding: 0 10px;
  height: 39px;
  background: #d6dbda; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #d6dbda 0%, #ffffff 100%);
  background: -webkit-linear-gradient(-45deg, #d6dbda 0%,#ffffff 100%);
  background: linear-gradient(135deg, #d6dbda 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6dbda', endColorstr='#ffffff',GradientType=1 );
  border: 1px solid #999;
}
.profile-completed .public-profile .copy-label {
  font-size: 1rem;
  vertical-align: middle;
  padding: 10px;
}

/** Responsive **/

/** Small **/
@media all and (max-width:400px) {
  #wrapper .container {
    padding: 0 15px;
  }
  .profile-header .agi-info {
    text-align: left;
  }
  .profile-header .agi-info p {
    margin-bottom: 5px;
  }
  .tabs ul.tabs li {
    float: none;
  }
  .profile-completed .public-profile input {
    width: 80%;
  }
  .profile-completed .public-profile .copy-label {
    padding:0;
  }
  .profile-upcoming .item,
  .profile-completed .item {
    border-bottom:none;
    height: auto;
  }
  .profile-upcoming .item .title,
  .profile-upcoming .item .date,
  .profile-completed .item .title,
  .completed-classes .item .date,
  .completed-classes .item .certificate,
  .completed-exams .item .date-passing {
    position: relative;
    bottom:0;
  }
  .profile-upcoming .item .date,
  .completed-classes .item .date,
  .completed-classes .item .certificate {
    padding-left: 0;
    margin: 0;
  }
  .completed-exams .item .date-passing.passing .date {
    margin-right: 0;
    padding:0;
  }
  .completed-exams.public .item .date-passing .date {
    padding: 0;
  }
  .member-profile-info .edit-membership {
    position: relative;
    font-size: 0.9rem;
    margin-bottom: 25px;
  }
  .member-profile-info .label {
    width: auto;
  }
  .member-profile-info .edit-account {
    margin: 50px 0;
  }
}
