.container {
    padding: 0px;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    padding: 0.5em 1em;
}

.btn-primary {
    background: #3399cc;
    color: #fff !important;
}

.btn-secondary {
    background: #999999;
    color: #fff !important;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.m-t-1 {
    margin-top: 20px;
}

.m-t-2 {
    margin-top: 40px;
}

.m-t-3 {
    margin-top: 60px;
}

.m-b-1 {
    margin-bottom: 20px;
}

.m-b-2 {
    margin-bottom: 40px;
}

.m-b-3 {
    margin-bottom: 60px;
}
.m-r-1 {
    margin-right: 10px;
}
.m-l-1 {
    margin-left: 10px;
}

.p-a-1 {
    padding: 20px;
}
.p-a-2 {
    padding: 40px;
}
.p-a-3 {
    padding: 60px;
}
.p-t-1 {
    padding-top: 20px;
}
.p-t-2 {
    padding-top: 40px;
}
.p-t-3 {
    padding-top: 60px;
}

.p-b-1 {
    padding-bottom: 20px;
}
.p-l-1 {
    padding-left: 20px;
}
.p-l-2 {
    padding-left: 40px;
}

.p-r-1 {
    padding-right: 20px;
}
.p-r-2 {
    padding-right: 40px;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    margin-bottom: 10px;
}

h1, .h1 {
    font-size: 2em;
}

h2, .h2 {
    font-size: 1.75em;
    font-weight: 300;
}

h3, .h3 {
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 0;
}

h4,
.h4 {
    font-size: 1.25em;
}

body.v3-theme b {
    font-weight: 500;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}
@media all and (min-width: 576px) {
    .align-sm-center {
        text-align: center;
    }
}

.field-name-field-breadcrumb p,
.field-name-field-cp-breadcrumb p {
    margin-bottom: 0;
}

#block-agi-quiz-agi-quiz-available-exam-credits table,
#block-agi-quiz-agi-quiz-user-completed-exams table,
.view-upcoming-classes.view-id-upcoming_classes.view-display-id-page table,
.view-upcoming-classes.view-id-upcoming_classes.view-display-id-page_1 table,
.view-id-upcoming_classes.view-display-id-page_2 table,
.view-id-upcoming_classes.view-display-id-page_3 table {
    width: 100%;
}
#block-agi-quiz-agi-quiz-user-completed-exams table td {
    text-align: left;
}
#block-agi-quiz-agi-quiz-user-completed-exams table th {
    padding-left:10px;
}

/* version 3 styling for UX content only
prefix with body.v3-theme */
body.v3-theme {
    font-size: 1.25em;
    font-weight: 300;
}

body.v3-theme * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.v3-theme img {
    max-width: 100%;
    height: auto;
}

body.v3-theme h1,
body.v3-theme .h1 {
    font-size: 3em;
}

body.v3-theme h2,
body.v3-theme .content h2,
body.v3-theme .content .h2,
body.v3-theme .h2 {
    font-size: 2.25em;
}

body.v3-theme h3,
body.v3-theme .content h3,
body.v3-theme .h3,
body.v3-theme .lead {
    font-size: 1.5em;
    margin-top: 0;
}

@media all and (max-width: 800px) {
    body.v3-theme h1,
    body.v3-theme .h1 {
        font-size: 2em;
    }

    body.v3-theme h2,
    body.v3-theme .content h2,
    body.v3-theme .content .h2,
    body.v3-theme .h2 {
        font-size: 1.5em;
    }

    body.v3-theme h3,
    body.v3-theme .content h3,
    body.v3-theme .h3,
    body.v3-theme .lead {
        font-size: 1.25em;
        margin-top: 0;
    }
}

.v3-theme h3 a {
    color: #333;
}

.blue-light-bg {
    background: #cce3f1;
}

.blue-med-bg {
    background: #63a8d6;
    color: #fff;
}

.blue-dark-bg {
    background: #0071bc;
    color: #fff;
}

.whiterock-bg {
    background: #efe9dd;
}

.gray-light-bg {
    background: #dddddd;
}

.container-row {
    margin-left: -20px;
    margin-right: -20px;
}
.container-row::after {
    content: "";
    display: table;
    clear: both;
}

body.v3-theme .col2,
body.v3-theme .col3,
body.v3-theme .col4,
body.v3-theme .col6,
body.v3-theme .col8,
body.v3-theme .col9,
body.v3-theme .col10,
body.v3-theme .col11,
body.v3-theme .col12 {
    padding-left: 20px;
    padding-right: 20px;
}


body.v3-theme .col2 {
    width: 16.66666667%;
    float: left;
    margin: 0;
}

body.v3-theme .col3 {
    width: 25%;
    float: left;
    margin: 0;
}

body.v3-theme .col4 {
    width: 33.33333%;
    float: left;
    margin: 0;
}

body.v3-theme .col6 {
    width: 50%;
    float: left;
    margin: 0;
}

body.v3-theme .col8 {
    width: 66.66666%;
    float: left;
    margin: 0;
}

body.v3-theme .col9 {
    width: 75%;
    float: left;
    margin: 0;
}

body.v3-theme .col10 {
    width: 83.33333%;
    float: left;
    margin: 0;
}

body.v3-theme .col11 {
    width: 91.6%;
    float: left;
    margin: 0;
}

body.v3-theme .col12 {
    width: 100%;
    float: left;
    margin: 0;
}

@media all and (max-width: 800px) {
    body.v3-theme .col2,
    body.v3-theme .col3,
    body.v3-theme .col4,
    body.v3-theme .col6,
    body.v3-theme .col8,
    body.v3-theme .col9,
    body.v3-theme .col10,
    body.v3-theme .col11,
    body.v3-theme .col12 {
        float: none;
        width: auto;
    }

    body.v3-theme .view-related-news-to-a-category {
        padding: 20px;
    }
}

.container ul {
    list-style: initial;
    margin-left: 1em;
    margin-bottom: 1em;
}

.container ul li {
    margin-left: 1em;
}

.v3-theme #mainNav {
    max-width: 1240px;
    margin: 0 auto;
}

.v3-theme #secondaryNav {
    top: 40px;
    right: 10%;
}

@media all and (max-width: 1080px){
    .v3-theme #secondaryNav {
        margin-bottom: 10px;
        right: 20px;
    }
}

@media all and (min-width: 1491px){
    .v3-theme #secondaryNav {
        right: 20%;
    }

    .node-type-course-date.v3-theme #secondaryNav {
        right: 20px;
        top: 20px;
    }
}



.container #secondaryNav ul {
    list-style: none;
    margin-left: 0;
}

.container li {
    line-height: 140%;
}

html.js .v3-theme fieldset.collapsed,
html.js .view-id-courses_in_category_v3 fieldset.collapsed {
    height: auto;
    min-height: 1em;
}

html.js .v3-theme fieldset.collapsible .fieldset-legend {
    background-image: url('../images/minimize.png');
    background-position: 85% 50%;
    font-size: 1em;
}

html.js .v3-theme.node-type-course fieldset.collapsible .fieldset-legend {
    background-image: url('../images/minimize_topics.png');
}

html.js .v3-theme fieldset.collapsed .fieldset-legend {
    background-image: url('../images/expand.png');
    background-position: 85% 45%;
}

html.js .v3-theme.node-type-course fieldset.collapsed .fieldset-legend {
    background-image: url('../images/expand_topics.png');
}


body.v3-theme .webform-client-form input {
    font-size: 1em;
    max-width: 100%;
    padding: 0.25em;
}

body.v3-theme .webform-client-form input[type="submit"] {
    background-color: #3399cc;
    border: none;
    color: #fff;
    font-size: 1em;
    padding: 0.5em 1em;
}

.view-courses-in-category-v3 .alt_bg:nth-child(odd),
.view-courses-in-certificate-v3 .alt_bg:nth-child(odd) {
     background: #efe9dd;
 }

.view-courses-in-category-v3 .alt_bg_flip:nth-child(even),
.view-courses-in-certificate-v3 .alt_bg_flip:nth-child(even) {
    background: #efe9dd;
}

.view-courses-in-category-v3.view-display-id-block_1 tr.odd,
.view-courses-in-certificate-v3.view-display-id-block_1 tr.odd {
    background-color: #fff;
}

.view-courses-in-category-v3 tr.even,
.view-courses-in-certificate-v3 tr.even,
.v3-theme .view-id-upcoming_events.view-display-id-block_5 tr.even {
    background-color: #cce3f1;
}


.view-courses-in-category-v3 h3,
.view-courses-in-certificate-v3 h3 {
    margin-top: 0;
}

.view-courses-in-category-v3 th,
.view-courses-in-certificate-v3 th {
    font-weight: bold;
    padding: 10px;
}

.view-courses-in-category-v3 .views-field.views-field-nid,
.view-courses-in-certificate-v3 .views-field.views-field-nid {
    min-height: 35px;
}

body.v3-theme .commerce-add-to-cart .form-submit {
    padding: 0.5em 1em;
    background-color: #0071bc;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

body.v3-theme .container ul.pager {
    margin-left: -20px;
    margin-right: -20px;
}

th {
    font-weight: bold;
}

body.v3-theme .view-id-upcoming_events.view-display-id-block .view-header h4 {
    background: #3399cc;
    color: #fff !important;
}

body.v3-theme .view-id-upcoming_events.view-display-id-block_5 th {
    display: none;
}

body.v3-theme .field-name-field-class-prerequisites,
body.v3-theme .field-name-field-course-materials {
    width: auto;
    float: none;
    margin-right: 0;
}

body.v3-theme #block-views-course-breadcrumb-block-block {
    margin-left: 1em;
}

body.v3-theme .inner-wrap,
body.v3-theme .view-related-news-to-a-category,
body.v3-theme #block-block-24 {
    clear: both;
    max-width: 1160px;
    margin: 0 auto;
}

body.v3-theme #block-block-24 {
    padding: 0 20px;
}

body.v3-theme .field-name-field-cat-hero-image img {
    padding-top: 20px;
    width: 100%;
}

body.v3-theme #pageHeader {
    padding: 10px 0;
}

#location-slides .col9 img {
    width: 100%;
}

#location-slides .col3 img {
    max-height: 93px;
}

.v3-theme .node-webform p {
    display: none;
}


.v3-theme .node-webform .webform-component-radios {
    float: left;
}

.v3-theme .node-webform input[type="submit"] {
    float: right;
    margin-top: 60px;
}

.v3-theme #maps iframe {
    max-height: 370px;
}

.v3-theme.page-node .views-field-field-event-name {
    display: table-cell;
}

.v3-theme .pane-atlas-rich-trails-atlas-rich-trails {
    margin-left: 1em;
}

.v3-theme .view-upcoming-events.view-display-id-block_2 .view-content,
.v3-theme .view-upcoming-events.view-display-id-block_6 .view-content {
    margin-left: -20px;
    margin-right: -20px;
}

.v3-theme .pager-current {
    font-weight: 300;
}

.v3-theme .collapsible td.views-field {
    padding-left: 20px;
}

.v3-theme .form-item,
.v3-theme .form-actions {
    margin-top: 0;
    margin-bottom: 10px;
}

.v3-theme .node-webform #webform-client-form-1694 input[type="submit"] {
    margin-top: 0;
}

.v3-theme thead th {
    background: #cce3f1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
}

.v3-theme .view-id-upcoming_events.view-display-id-block_5 tr > td:first-of-type {
    display: none;
}

.v3-theme .view-id-upcoming_events.view-display-id-block_5 tr > td:nth-of-type(2) {
    padding-left: 20px;
}

.v3-theme .view-id-upcoming_events.view-display-id-block_2 tr > td:first-of-type,
.v3-theme .view-id-upcoming_events.view-display-id-block_2 tr > th:first-of-type,
.v3-theme .view-id-upcoming_events.view-display-id-block_6 tr > td:first-of-type,
.v3-theme .view-id-upcoming_events.view-display-id-block_6 tr > th:first-of-type {
    padding-left: 20px;
}

.v3-theme .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    margin-top: 0;
}

.v3-theme #see-course-dates h4#see-course-dates {
    display: none;
}

.v3-theme .view.view-course-date-detail-panel-content.view-id-course_date_detail_panel_content.view-display-id-panel_pane_1 {
    line-height: 150%;
}

@media all and (max-width: 770px) {
    .v3-theme .view-content td.views-field,
    .v3-theme .view-content th {
        display: block;
    }
}

.v3-theme .view-id-reviews.view-display-id-ctools_context_1 .views-row,
.v3-theme .view-id-reviews.view-display-id-ctools_context_2 .views-row {
    border: none;
    padding: 0;
    background: transparent;
    max-width: 800px;
    line-height: 140%;
}

.v3-theme.page-reviews h3[itemprop="name"],
.v3-theme.page-reviews div[itemprop="aggregateRating"],
.v3-theme.page-reviews div[itemscope] > img {
    display: none;
}

@media all and (max-width: 800px) {
    .v3-theme .form-item, .v3-theme .form-actions {
      margin-bottom: 0;
    }
    #mainNav .navbar-toggle {
      font-size: 0.875rem;
    }
    .v3-theme .view-id-courses_in_category_v3.view-display-id-block_1 .view-content,
    .v3-theme .view-id-courses_in_category_v3.view-display-id-block_1 .view-content td.views-align-right,
    .v3-theme .view-id-courses_in_category_v3.view-display-id-block_1 .view-content td.views-align-center,
    .v3-theme .view-upcoming-events.view-display-id-block_2 .view-content,
    .v3-theme .view-upcoming-events.view-display-id-block_2 .view-content,
    .v3-theme .view-upcoming-events.view-display-id-block_6 .view-content td.views-align-right,
    .v3-theme .view-upcoming-events.view-display-id-block_6 .view-content td.views-align-right {
        text-align: left;
    }

    .v3-theme .view-upcoming-events.view-display-id-block_2 .view-content thead,
    .v3-theme .view-upcoming-events.view-display-id-block_6 .view-content thead {
        display: none;
    }

    .v3-theme .view-id-upcoming_events.view-display-id-block_2 tr > td {
        padding-left: 20px;
    }

    .v3-theme .col9 .field-name-field-desc,
    .v3-theme .col6 .field-name-field-hero-text {
        padding: 0 20px;
    }

    body.v3-theme .col2 {
        display: inline-block;
        padding-left: 40px;
    }

    body.v3-theme .col2:last-of-type {
        float: right;
        margin-right: 20px;
    }

    .hidden-md-down {
        display: none;
    }
}

.v3-theme.node-type-certificate-program .webform-client-form-1694 .webform-component-radios {
    display: none;
}

.v3-theme strong {
    font-weight: 500 !important;
}

.v3-theme.node-type-subject .view-display-id-block_2 td.views-field.views-field-field-event-start-date {
    width: 210px;
}

.node-type-course.v3-theme .view.view-course-blocks.view-id-course_blocks {
    display: none;
}

/** NODE 43 UX Classes and Training Specific Code **/
.v3-theme.page-node-43 .field-name-field-cat-lead-intro-text .container-row {
    font-size: 24px;
}
.v3-theme.page-node-43 .field-name-field-cat-lead-intro-text img {
    width: 100%;
    height: auto;
}
.v3-theme.page-node-43 .field-name-field-cat-lead-intro-text ul,
.v3-theme.page-node-43 #classes-offered ul {
    margin-left: 0;
}
