// @file
// Styles for Site Alert.

@use '../../01-core/functions' as *;
@use '../../01-core/mixins' as *;

.alert {
  position: relative;
}

.alert__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: units(1);
  padding-top: units(1);
}

.alert__text {
  > * {
    font-size: font-size(4);
    margin: 0;
  }
}

.alert__close {
  background: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: flex;

  svg {
    height: units(2);
    width: units(2);
  }
}
