// @file
// Styles for Alert layout.

@use '../../01-core/functions/' as *;
@use '../../01-core/mixins/' as *;

.l-region--alert {
  background: color(brand, orange-100);
  margin-bottom: units(2);
}
