<section class="l-region l-region--alert">
  <div class="l-constrain">
    {% block content %}
      {% include '@components/alert/alert.twig' with {
        'text': '<p>Coronavirus (COVID-19) information: All courses at all locations are available as live online classes. Limited in-person classes in some locations. Our offices remain open. <a href="/coronavirus-covid-19">Learn more</a>.</p>'
      } %}
    {% endblock %}
  </div>
</section>
