// @file
// Styles for Course name.

@use '../../01-core/functions' as *;
@use '../../01-core/mixins' as *;

.course-name {
  align-items: center;
  display: flex;
  margin-bottom: units(2.5);

  img {
    flex-shrink: 0;
    margin-right: units(1);
  }

  h2 {
    font-family: font-family(body);
    font-size: font-size(10);
    font-weight: font-weight(regular);
    margin: 0;
  }
}
