// @file
// Styles for range form items.

@use '../../../01-core/functions' as *;
@use '../../../01-core/mixins' as *;

@mixin form-item__range-thumb {
  @include focus;
  background: color(grayscale, gray-50);
  border: 1px solid color(grayscale, gray-10);
  border-radius: 0;
  cursor: pointer;
  height: rem(44px);
  outline: 0;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  width: rem(22px);
}

@mixin form-item__range-thumb-focus {
  outline-color: color(brand, blue-300);
}

@mixin form-item__range-track {
  background: color(grayscale, gray-40);
  border: 1px solid color(grayscale, gray-50);
  cursor: pointer;
  display: block;
  height: rem(10px);
  margin: 0;
  outline: 0;
  width: 100%;
}

.form-item--range {
  .form-item__range {
    appearance: none;
    background: transparent;
    border: 0;
    height: rem(44px);
    margin: 0.2em 0;
    padding: 0;

    // Remove outer focus styling on Firefox.
    &::-moz-focus-outer {
      border: 0;
    }

    &:focus {
      box-shadow: none;
      outline: 0;

      &::-moz-range-thumb {
        @include form-item__range-thumb-focus;
      }

      &::-ms-thumb {
        @include form-item__range-thumb-focus;
      }

      &::-webkit-slider-thumb {
        @include form-item__range-thumb-focus;
      }
    }

    &:disabled {
      cursor: default;
      opacity: 0.35;
    }

    &::-moz-range-thumb {
      @include form-item__range-thumb;
    }

    &::-moz-range-track {
      @include form-item__range-track;
    }

    &::-ms-thumb {
      @include form-item__range-thumb;
      margin-top: 0 !important; // Removes webkit-specific margin since IE uses webkit prefixes.
    }

    &::-ms-track {
      @include form-item__range-track;
      background: transparent;
      border: 0;
      color: transparent;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
      background: color(grayscale, gray-40);
      border: 1px solid color(grayscale, gray-50);
    }

    &::-webkit-slider-thumb {
      @include form-item__range-thumb;
      appearance: none;
      // Stylelint gets confused by the nested math and rem functions here,
      // so we don't want to lint this line.
      // stylelint-disable-next-line
      margin-top: rem(((-1px * 2) + 10px) / 2) - rem(44px / 2);
    }

    &::-webkit-slider-runnable-track {
      @include form-item__range-track;
    }
  }

  &.is-full-width > .form-item__range {
    width: 100%;
  }
}
