// @file
// Unordered list styles.

@use '../../01-core/functions' as *;

.embed-container {
  height: 0;
  margin-bottom: units(5);
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
