form#webform-client-form-1694 input {
  max-width: 100%;
  font-size: 0.75rem;
}

.node-type-category-location-page .view-category-location-view.view-display-id-block_1 {
  .views-row {
    ul, li {
      list-style-type: none;
      margin-left: 0;
    }
    .grey-title-link,
    .grey-date-price-link {
      display: inline-block;
    }
    .grey-date-price-link {
      float: right;
    }
  }
}

.node-type-category-location-page .view-category-location-view.view-display-id-block_2 .views-row,
.node-type-category-location-page .view-category-location-view.view-display-id-block_3 .views-row {
  margin-bottom: 60px;

  a:hover, a:focus {
    text-decoration: none;
  }

  .flag-bookmarks,
  a.see-dates {
    float: right;
    margin-top: -15px;
    margin-left: 20px
  }
}

.view-id-pri.view-display-id-block_2 {
  .views-field-field-event-name {
    display: table-cell;
  }

  td.views-field {
    padding: 6px;
  }
}

.view-category-location-page.view-display-id-block {
  h6 {
    font-size: 1.5em;
  }

  .views-field-field-location-icon {
    float: left;
    margin-left: -7px;
    margin-top: -7px;
    padding-top: 20px;
  }

  .views-field-field-location-name {
    color: #333333;
    font-size: 16pt;
    margin-bottom: 20px;
    padding-top: 20px;
  }
}


.view-id-category_location_page.view-display-id-block_1 {
  .views-field-field-primary-image-slides img {
    width: 100%;
    height: auto;
  }
}

.view-id-category_page_right_buttons_grey_header.view-display-id-block_1 {
  a {
    display: block;
    background: #3399cc;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
  a:hover {
    background: #ff9900;
  }

}

@media all and (max-width: 768px) {
  .node-type-category-location-page .view-category-location-view.view-display-id-block_1 .views-row .grey-date-price-link {
    display: none;
  }
}
