/* Overrides margin used for pushing down content in grey area on panels. */
.row .field.field-name-body.field-type-text-with-summary.field-label-hidden {
  margin-top: 0;
}

iframe {
  max-width: 100%;
}

.node-type-category-location-page .container .views-field.views-field-field-popular-courses ul {
  margin: 1rem 0;
  clear: both;
  li {
    display: block;
    float: left;
    margin: 0;
    margin-bottom: 1rem;
    width: 50%;
  }
}

.node-type-category-location-page .container .views-field-field-location-subjects {
  clear: both;
}

@media all and (max-width: 768px){
  .node-type-seconday-location-category-page .container,
  .node-type-category-location-page .container {
    padding: 1rem;
  }

  .node-type-seconday-location-category-page .views-field-field-location-description iframe,
  .node-type-category-location-page .views-field-field-location-description iframe {
    display: none;
  }
}
