{#
 /**
  * @file
  * Theme override for a breadcrumb trail.
  *
  * Available variables:
  * - modifier: Variant classes to modify component.
  * - heading: Accessible heading.
  * - breadcrumb: Breadcrumb trail items.
  */
#}

{% if breadcrumb %}
  {% include '@components/breadcrumb/breadcrumb.twig' with {
    'modifier': '',
    'heading': 'Breadcrumb'|t,
    'breadcrumb': breadcrumb
  } %}
{% endif %}
