<button class="hamburger hamburger--collapse" type="button" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
  <span class="hamburger__box">
    <span class="hamburger__inner"></span>
  </span>
</button>
