// @file
// Styles for Mobile.

@use '../../variables' as *;
@use '../../01-core/functions' as *;
@use '../../01-core/mixins' as *;

.hamburger {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0;
  overflow: visible;
  padding: units(2);
  text-transform: none;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  transition-timing-function: linear;

  &:focus-visible {
    outline: 2px dashed color(shades, light);
    background: transparent;
  }

  &:hover {
    opacity: 0.7;
  }

  &.is-active {
    &:hover {
      opacity: 0.7;
    }
  }

  .hamburger__inner,
  .hamburger__inner::before,
  .hamburger__inner::after {
    background-color: color(shades, light);
  }

  @media(min-width: $medium-screen) {
    display: none;
  }
}

.hamburger__box {
  display: block;
  height: units(3);
  position: relative;
  width: units(4);
}

.hamburger__inner {
  display: block;
  margin-top: -2px;
  top: 50%;

  &,
  &::before,
  &::after {
    background-color: color(shades, dark);
    border-radius: units(0.5);
    height: units(0.5);
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    width: units(4);
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }
}

.hamburger--collapse {
  .hamburger__inner {
    bottom: 0;
    top: auto;
    transition-delay: 0.13s;
    transition-duration: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::after {
      top: -20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    }

    &::before {
      transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger__inner {
      transform: translate3d(0, -12px, 0) rotate(-45deg);
      transition-delay: 0.22s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::after {
        top: 0;
        opacity: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
      }

      &::before {
        top: 0;
        transform: rotate(-90deg);
        transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}
