// @file
// Styles for Grid layout.

@use '../../01-core/functions' as *;
@use '../../variables' as *;

$grid-gutter: 40px;

.l-grid {
  display: grid;
  grid-gap: rem($grid-gutter);
  grid-template-columns: repeat(1, 1fr);
}

.l-grid--2col {
  @media(min-width:$small-screen) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.l-grid--3col {
  @media(min-width:$small-screen) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.l-grid--4col {
  @media(min-width: 600px) and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(min-width: 801px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.l-grid--6col {
  @media(min-width: 600px) and (max-width: 999px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(min-width: 1000px) {
    grid-template-columns: repeat(6, 1fr);
  }
}
