{% embed '@layouts/section/section.twig' with {
  'attributes': attributes,
  'constrain': 'l-constrain',
  'section_title': false
} %}

  {% block content %}
    {% if content %}
      {{- content -}}
    {% endif %}
  {% endblock %}

{% endembed %}
