.toolbar-tray a,
.toolbar-tray a:hover,
.toolbar-tray a:visited {
  color: #000;
  font-weight: normal;
}

.toolbar-tray a:hover {
  text-decoration: underline;
}

.toolbar-bar .toolbar-icon-edit:before {
  background-image: url(../images/pencil.svg);
}

.toolbar-menu {
  font-size: 13px;
}

.toolbar-item::-moz-selection {
  background: transparent;
}

.toolbar-item::selection {
  background: transparent;
}

.toolbar-menu-administration .tabs__items {
  font-size: 13px;
}

.toolbar-menu-administration .tabs__items li {
  border-right: 1px solid #ddd;
}

.toolbar-menu-administration .tabs__item {
  background-color: #f5f5f2;
  border-radius: 0;
  color: #000;
  font-size: 1em;
  padding: 0;
}

.toolbar-menu-administration .tabs__item:hover {
  background-color: #fff;
}

.toolbar-menu-administration .tabs__item:first-child,
.toolbar-menu-administration .tabs__item:last-child {
  border-radius: 0;
}

.toolbar-menu-administration .tabs__link {
  background: none;
  border: none;
  color: #565656;
  cursor: pointer;
  font-size: 1em;
  padding: 1em 1.3333em;
  text-decoration: none;
}

.toolbar-menu-administration .tabs__link:hover,
.toolbar-menu-administration .tabs__link:focus {
  background-color: transparent;
  color: #565656;
}

.toolbar-menu-administration .tabs__link:visited {
  color: #565656;
}

.toolbar-menu-administration .tabs__link:active,
.toolbar-menu-administration .tabs__link.is-active {
  background-color: transparent;
}
