// @file
// Styles for Button.

@use '../../01-core/functions' as *;
@use '../../01-core/mixins' as *;

.button {
  appearance: none;
  background-color: color(brand, blue-300);
  border: 0;
  border-radius: units(0.5);
  color: color(shades, light);
  cursor: pointer;
  display: inline-block;
  font-family: font-family(body);
  font-size: font-size(6);
  line-height: line-height(base);
  margin-bottom: units(1);
  padding: units(1) units(2);
  text-align: center;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: top;
  white-space: normal;

  &:visited {
    background-color: color(brand, blue-300);
    color: color(shades, light);
  }

  &:hover,
  &:focus {
    background-color: color(brand, blue-400);
    border-color: transparent;
    color: color(shades, light);
  }

  &:active {
    background-color: color(brand, blue-400);
    color: color(shades, light);
  }

  &[disabled] {
    background-color: color(grayscale, gray-50);
    border-color: color(grayscale, gray-50);
    color: color(shades, dark);
    cursor: default;
    pointer-events: none;
  }

  & + & {
    margin-left: units(1);
  }
}

.button--secondary {
  background-color: color(brand, orange-200);

  &:visited {
    background-color: color(brand, orange-200);
  }

  &:hover,
  &:focus {
    background-color: darken(color(brand, orange-200), 15%);
  }

  &:active {
    background-color: color(brand, orange-200);
  }
}

.button--tertiary {
  background-color: color(brand, orange-100);
  color: color(shades, dark);

  &:visited {
    background-color: color(brand, orange-100);
    color: color(shades, dark);
  }

  &:hover,
  &:focus {
    background-color: darken(color(brand, orange-100), 5%);
    color: color(shades, dark);
  }

  &:active {
    background-color: color(brand, orange-100);
    color: color(shades, dark);
  }
}

.button--small {
  padding: units(0.5) units(1.5);
}
