// ==========================================================================
// Color maps
// ==========================================================================

$brand: (
  blue-100: #eef8ff,
  blue-200: #98d2f9,
  blue-300: #0071bb,
  blue-400: #00436f,
  orange-100: #ffc600,
  orange-200: #ff9801
);

$shades: (
  dark: #000,
  light: #fff,
  transparent: transparent
);

$grayscale: (
  gray-5: #f0f0f0,
  gray-10: #e6e6e6,
  gray-20: #c9c9c9,
  gray-30: #adadad,
  gray-40: #919191,
  gray-50: #757575,
  gray-60: #5c5c5c,
  gray-70: #454545,
  gray-80: #2e2e2e,
  gray-90: #1b1b1b
);

$ui: (
  border: #adadad,
  focus: #4773aa,
  mark: #ff0
);

$background: (
  dark: #000,
  light: #fff,
  transparent: transparent
);

$text: (
  dark: #000,
  light: #fff
);

$table: (
  background: #fff,
  background-head: #f0f0f0,
  background-foot: #f0f0f0,
  border: #5c5c5c
);

$colors: (
  brand: $brand,
  shades: $shades,
  grayscale: $grayscale,
  background: $background,
  text: $text,
  table: $table,
  ui: $ui
) !default;
