// ==========================================================================
// Font maps
// ==========================================================================

$font-family: (
  serif: 'Roboto, sans-serif',
  sans: 'Roboto, sans-serif',
  system: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen-Sans", Ubuntu, Cantarell, "Fira Sans", Droid Sans, sans-serif',
  mono: 'Menlo, Consolas, "Lucida Console", "Liberation Mono", "Courier New", monospace, sans-serif',
  ui: 'sans',
  heading: 'serif',
  body: 'sans',
  code: 'mono',
  alt: 'serif'
);

$font-weight: (
  thin: 100,
  extra-light: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900
);

$font-size: (
  base: 16px,
  micro: 10px,
  1: 12px,
  2: 13px,
  3: 14px,
  4: 15px,
  5: 16px,
  6: 17px,
  7: 18px,
  8: 20px,
  9: 22px,
  10: 24px,
  11: 28px,
  12: 30px,
  13: 36px,
  14: 40px,
  15: 48px,
  16: 56px,
  17: 64px,
  18: 80px,
  19: 120px,
  20: 140px
);

$line-height: (
  tight: 1.1,
  base: 1.45,
  loose: 1.7
);
