// ==========================================================================
// Z-index maps
// ==========================================================================

$z-index: (
  dropdown: 10,
  sticky: 20,
  fixed: 30,
  modal-backdrop: 40,
  modal: 50,
  popover: 60,
  tooltip: 70
) !default;
