{% embed '@layouts/branding/branding.twig' %}
  {% block logo %}
    {% if site_logo %}
      {% include '@components/site-logo/site-logo.twig' with {
        'url': path('<front>')
      } %}
    {% endif %}
  {% endblock %}

  {% block name %}
    {% if site_name %}
      {% include '@components/site-name/site-name.twig' with {
        'url': path('<front>'),
        'site_name': site_name
      } %}
    {% endif %}
  {% endblock %}
{% endembed %}
