// @file
// Styles for Nav layout.

@use '../../variables' as *;
@use '../../01-core/functions' as *;
@use '../../01-core/mixins' as *;

.l-nav {
  @media(min-width: $medium-screen) {
    &.collapse {
      max-height: 100%;
      overflow: visible;
      z-index: 2;
    }
  }
}
