<nav id="navigation" class="l-nav collapse {{ modifier }}" role="navigation" aria-label="Primary navigation">
  <h2 class="visually-hidden">{{ label }}</h2>
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
