{% extends '@layouts/page/page.twig' %}
  {% block alert %}
    {{ page.alert }}
  {% endblock %}

  {% block header %}
    {{ page.header }}
    {{ page.help }}
    {{ page.highlighted }}
  {% endblock %}

  {% block main %}
    {{ page.preface }}
    {{ page.content }}
    {{ page.postscript }}
  {% endblock %}

  {% block footer %}
    {{ page.footer }}
  {% endblock %}
