{% embed '@layouts/header/header.twig' with {
  'modifier': ''
} %}

  {% block top %}
    {{ drupal_entity('block', 'site_branding') }}
    {{ drupal_entity('block', 'secondary_menu') }}
  {% endblock %}

  {% block nav %}
    {% include '@components/hamburger/hamburger.twig' %}
    {{ drupal_entity('block', 'main_menu') }}
  {% endblock %}

{% endembed %}
