<a itemprop="url" class="site-logo" href="{{ url }}" title="{{ 'Training and Classes at American Graphics Institute'|t }}" rel="home">
  <img itemprop="logo" src="/themes/custom/ohana/dist/img/logo.png" alt="{{ 'Adobe training, UX Courses, and Photoshop Classes at AGI'|t }}" />
</a>
