@font-face {
  font-display: auto;
  font-family: sans-serif;
}
@font-face {
  font-display: auto;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
}

html {
  font-size: 20px;
}

h1 {
  font-weight: 500;
  font-size: 1.6rem;
  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
  }
}
h2 {
  font-weight: 500;
  font-size: 1rem;
  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
  }
}
h3 {
  font-weight: 500;
  font-size: 1rem;
  @include media-breakpoint-up(md) {
    font-size: $h3-font-size;
  }
}
h3 {
  font-weight: 500;
  font-size: 1rem;
  @include media-breakpoint-up(md) {
    font-size: $h4-font-size;
  }
}

.h1 {
  font-size: 1.6rem;
  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
  }
  text-transform: uppercase;
  font-weight: bold;
}
.h2 {
  font-size: $h2-font-size;
}
.h3 {
  font-size: $h3-font-size;
}
.h4 {
  font-size: $h4-font-size;
}
.h5 {
  font-size: $h5-font-size;
}

#edit-submit {
  background: color("orange");
  border-color: color("orange");
}
#edit-delete {
  background: transparent;
  border-color: theme-color("danger");
  color: theme-color("danger");
  margin: 0 1rem;
}
.btn-primary-submit {
  @include button-variant(color("orange"), color("orange"));
  color: #fff;
}

#block-system-main ul,
ul.list-agi {
  &:not(.list-unstyled) {
    @include list-agi();
  }
}
ul.list-inline {
  li.list-inline-item {
    padding-left: 0 !important;
    &:before {
      content: "" !important;
    }
  }
}
.in-page-nav {
  ul.list-inline {
    display: block !important;
    li {
      display: block;
      margin-bottom: 1rem !important;
      .btn {
        font-size: 0.75rem;
      }
    }

    @include media-breakpoint-up(md) {
      display: flex !important;
      li {
        margin-bottom: 0 !important;
      }
    }
    @include media-breakpoint-up(md) {
      display: flex !important;
      li {
        .btn {
          font-size: $font-size-sm;
        }
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}
.image-field-caption {
  font-size: $font-size-xs;
  font-style: italic;
  padding: .5em 0;
}

// Utilities.
//// Fonts.
.text-muted {
  color: $gray-300;
}
.text-xs {
  font-size: 0.7rem;
  line-height: normal;
}
.text-sm {
  font-size: 0.85rem;
  line-height: normal;
}
.text-base {
  font-size: 1rem;
  line-height: normal;
}
.text-lg {
  font-size: 1.25rem;
  line-height: normal;
}
.text-xl {
  font-size: 1.5rem;
  line-height: normal;
}
//  MISC
.dom-only {
  display:none;
}
.bdrTop {
  border-top:solid 3px #0071BB;
  padding-top:30px;
}

// Min Height classes that can be applied to main columns so that the
// absolutely positioned psuedo left rail has enough space.
.min-height {
  min-height: $default_main_column_min_height;
}
.panel-flexible-inside {
  clear: both;
  overflow: hidden;
  .panels-flexible-region-first,
  .panels-flexible-region-last {
    float:left;
  }
  .col3 {
    float: none;
    width: 100%;
    margin-right: 0;
    @include media-breakpoint-up(lg) {
      width: 22%;
      margin-right: 4%;
      float: left;
    }

    &:last-child {
      margin: 0;
    }
  }
  .col9 {
    float: none;
    width: 100%;
    margin-right: 0;
    @include media-breakpoint-up(lg) {
      width: 74%;
      margin-right: 4%;
      float: left;
    }

    &:last-child {
      margin: 0;
    }
  }
}

//.panel-flexible-inside {
//  display: block;
//  .panels-flexible-region {
//    width: 100%;
//  }
//  .panels-flexible-region-first,
//  .panels-flexible-region-last {
//    display: none;
//  }
//
//  @include media-breakpoint-up(lg) {
//    .panels-flexible-region-first,
//    .panels-flexible-region-last {
//      display: block
//    }
//    .panels-flexible-region {
//      width: 59.8871%;
//    }
//    .panels-flexible-region-first {
//      width: 19.5450%;
//    }
//    .panels-flexible-region-last {
//      width: 19.5678%;
//    }
//  }
//}

.page-books {
  .panel-flexible-inside {
    .panels-flexible-region-first {
      display: block;
    }
  }
}

.page-taxonomy-term {
  .panel-flexible-inside {
    .panels-flexible-region-first {
      display: block;
    }
    @include media-breakpoint-up(lg) {
      .panels-flexible-region-first {
        width: 74%;
      }
    }
  }
}

// Three Column Panels.
.page-node-8,
.certificate-landing {
  .panel-flexible-inside {
    .panels-flexible-region-last,
    .panels-flexible-region-first {
      display: none;
    }
    @include media-breakpoint-up(lg) {
      .panels-flexible-region-last,
      .panels-flexible-region-first {
        display: block;
      }
    }
    @include media-breakpoint-only(sm) {
      .panels-flexible-region {
        width: 100%;
      }
    }
    @include media-breakpoint-only(md) {
      .panels-flexible-region {
        width: 100%;
      }
    }
  }
}

.ds-2col-stacked>.group-left,
.ds-2col-stacked>.group-right {
  float: none;
  width: 100%;
}
.clearfix {
  clear: both;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    .group-left {
      float: left;
      width: 50%;
    }
    .group-right {
      float: right;
      width: 50%;
    }
  }

}

