body {
  margin-top: 1rem;
  //&.covid-19 {
  //  margin:0;
  //}
}

.row {
  position: relative;
}

.tabs {
  display: none;
}
@include media-breakpoint-up(md) {
  .tabs {
    display: block;
  }
}

#wrapper {
  position: relative;
  #mainContent {
    min-height: 900px;
    #sidebar-left {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}
@include media-breakpoint-up(lg) {
  #wrapper {
    #mainContent {
      #sidebar-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 33.33333%;
        iframe {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  #wrapper {
    #mainContent {
      #sidebar-left {
        //padding-right: 60px;
      }
    }
  }
}

.section {
  padding: 1rem 0;
  margin: 0 0 1rem 0;
  &:last-child {
    margin: 0;
  }
}


#alert-covid-19 {
  background-color:#FFC600;
  color: #000;
  font-size: 0.75rem;
  padding: 0.5rem 0 0.5rem 0;
  margin-bottom: 1rem;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: none;
}
.close-x {
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 0;

  .close--x {
    color: #96730b;
    font-weight: bold;
  }
}



// Hide layout elements
