{% include '@templates/subject.twig' with {
  'subject_modifier': '',
  'subject_constrain': '',
  'subject_header': false,
  'subject_aside': true,
  'subject_title': label|field_value,
  'subject_name': content.field_subject_name|field_value,
  'subject_content': content.body|field_value
} %}

{% set view_classes_in_category = drupal_view('classes_in_category', 'block_1', node.id) %}
{% set view_courses_in_category_snippet = drupal_view('course_in_category_snippet', 'panel_pane_1', node.id) %}
{% set view_upcoming_classes_apple = drupal_view('upcoming_apple_classes', 'block', node.id)  %}
{% set view_all_locations_link_apple = drupal_view('all_locations_link', 'block_1', node.id) %}
{% set view_upcoming_classes_adobe = drupal_view('upcoming_apple_classes', 'block', node.id) %}
{% set view_all_locations_link_adobe = drupal_view('all_locations_link', 'block_2', node.id) %}
{% set view_upcoming_category_classes = drupal_view('upcoming_events', 'block_2', node.id)  %}
{% set view_upcoming_certification_classes = drupal_view('upcoming_events', 'block_4', node.id) %}
{% set view_all_locations_link_no_brand = drupal_view('all_locations_link', 'block_3', node.id) %}
{% set view_location_list_for_category_sidebar = drupal_view('category_page_right_buttons_grey_header', 'block', node.id) %}

{# Replaces 'secondary_navigation' D7 variable #}
{% set short_category = content.field_short_category_name | render | striptags | trim %}
{% set all_locations_link_title = ' All ' ~ short_category ~ ' Training Locations' %}
{% if 'adobe' in conent.field_breadcrumb | render | striptags | trim %}
{% set parent = '/adobe/' %}
{% elseif 'adobe' in conent.field_breadcrumb | render | striptags | trim %}
{% set parent = '/apple/' %}
  {% else %}
    {% set parent = '/all' %}
{% endif %}
{% set all_locations_path = 'classes/all-locations' %}
<a href="{{ parent }}/{{ short_category | lower }}/{{ all_locations_path }}">{{ all_locations_link_title }}</a>

<h1>Content</h1>





