{% include '@templates/category-location.twig' with {
  'category_location_modifier': '',
  'category_location_constrain': '',
  'category_location_header': false,
  'category_location_aside': true,
  'category_location_title': label|field_value,
  'category_location_name': '',
  'category_location_content': content.body|field_value
} %}

{{ content }}
