{% set nid = node.id %}
{% set category_short_name = node.field_primary_category.0.entity.field_subject_name.0.value %}
{% set in_our_classroom = '<h3>' ~ category_short_name ~ ' in Our Classroom</h3>' ~ content.field_in_our_classroom_text | render %}
{% set current = drupal_url("<current>") %}
{# see 'request_info' defined in D7 template.php docroot/sites/all/themes/agi/template.php:650 #}
{% set  request_info = drupal_entity('node', 1694, 'full') %}

{# See 'links' defined in template.php docroot/sites/all/themes/agi/template.php:1373 #}
{% set links = {
  '1': link("See Course Topics", current, { 'class':['btn btn-sm btn-primary mx-1','list-inline-item']}),
  '2': link("See Course Dates", current, { 'class':['btn btn-sm btn-primary mx-1', 'list-inline-item']}),
  '3': link("Contact AGI about this course", current, { 'class':['btn btn-sm btn-primary mx-1', 'list-inline-item']} ),
}
%}

{% include '@templates/course.twig' with {
  'course_modifier': '',
  'course_constrain': '',
  'course_header': false,
  'course_aside': false,
  'course_title': label|field_value,
  'course_intro': content.field_lead_intro_text|field_value,
  'course_hero_image': content.field_cat_hero_image|field_value,
  'course_hero_text': content.field_hero_text|field_value,
  'course_training_online_text': content.field_training_online_text|field_value,
  'course_icon': content.field_course_thumbnail|field_value,
  'course_name': content.field_course_name|field_value,
  'course_description': content.field_desc|field_value,
  'course_topics': content.field_course_topics|field_value,
  'course_prerequisites': content.field_class_prerequisites|field_value,
  'course_materials': content.field_course_materials|field_value,
  'course_programs': content.field_certificate_programs|field_value,
  'course_delivery_methods': content.field_course_del_icons|field_value,
  'course_related_certificate_programs': content.field_certificate_programs|field_value,
  'category_short_name': category_short_name,
  'in_our_classroom_text': in_our_classroom,
  'reviews':  drupal_view('reviews', 'block_1', node.id),
  'course_upcoming_dates': drupal_view('upcoming_events', 'block', node.id),
} %}

{# See 'links' defined in template.php docroot/sites/all/themes/agi/template.php:1373 #}
{% for link in links %}
 {{ link }}
{% endfor %}

{# Previously set in template.php - see above #}
{{ categegory_short_name }}

{# Previously set in template.php - see above #}
{{ in_our_classroom | raw }}

{# 'reviews' #}
{{ drupal_view('reviews', 'block_1', node.id) }}

{# 'course_upcoming_dates' #}
{{ drupal_view('upcoming_events', 'block', node.id)  }}

{# 'request_info' #}
{{ request_info }}

{{ content }}
