/**
 * Original Theme
 * - Define Colors that add to or override Bootstraps
 * - Apply any coloring styling rules here.
 */

@each $color, $value in $colors {
  .text-#{$color}-color {
    color: $value;
  }
  .bg-#{$color} {
    background: $value;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}
