{% if items or empty %}
  {%- if title is not empty -%}
    <h3>{{ title }}</h3>
  {%- endif -%}

  {%- if items -%}
    <{{ list_type }}{{ attributes.addClass('facet-summary-items') }}>
      {%- for item in items -%}
        {%- if 'Clear Filters' in item.value -%}
          <li class="facet-item facet-item--reset">{{ item.value }}</li>
        {%- else -%}
          <li class="facet-item">{{ item.value }}</li>
        {%- endif -%}
      {%- endfor -%}
    </{{ list_type }}>
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
{%- endif %}
